<div class="content">
    <div class="container">
        <div class="row text-center section1-header">
            <h1>{{ 'OURSERVICESPAGE.OUR' | translate}} <span class="section1-header-content">{{
                    'OURSERVICESPAGE.SERVICES' | translate}}</span></h1>
            <p class="pt-3">{{ 'OURSERVICESPAGE.OURSERVICECONTENT' | translate}}</p>
        </div>
        <div class="row service-list mt-5">
            <!-- <div class="col-md-6">
                <img class="card-image" src="../../../assets/images/corporate-team-workers.png">
            </div> -->
            <div class="col-md-12">
                <div class="executive-organizational">
                    <h2>{{ 'OURSERVICESPAGE.EXECUTIVE' | translate}}</h2>
                    <img src="../../../assets/images/01.png" />
                </div>
                <div class="pt-5">
                    <ul>
                        <li>
                            <p>{{ 'OURSERVICESPAGE.EXECUTIVECONTENT1' | translate}}</p>
                            <div>
                                <ul>
                                    <li class="child-li">
                                        <p>{{ 'OURSERVICESPAGE.EXECUTIVEINNERCONTENT' | translate}}</p>
                                    </li>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.EXECUTIVEINNERCONTENT1' | translate}}</p>
                                    </li>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.EXECUTIVEINNERCONTENT2' | translate}}</p>
                                    </li>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.EXECUTIVEINNERCONTENT3' | translate}}</p>
                                    </li>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.EXECUTIVEINNERCONTENT4' | translate}}</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p>{{'OURSERVICESPAGE.EXECUTIVECONTENT2' | translate}}</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <button type="button" class="btn primary-button" (click)="gotocontact()">Contact us</button>
                </div>
            </div>
        </div>
        <div class="row service-list mt-5">
            <div class="col-md-12">
                <div class="executive-organizational">
                    <h2>{{'OURSERVICESPAGE.CLINICALCONSULTATION' | translate}}</h2>
                    <img src="../../../assets/images/02.png" />
                </div>
                <div class="pt-5">
                    <ul>
                        <li>
                            <p>{{'OURSERVICESPAGE.CLINICALCONSULTATIONCONTENT' | translate}}
                            </p>
                            <div>
                                <ul>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.CLINICALCONSULTATIONCONTENT' | translate}} </p>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="child-li1">
                                        <p>{{'OURSERVICESPAGE.CLINICALCONSULTATIONINNERCONTENT1' | translate}}</p>
                                    </li>
                                    <li class="child-li1">
                                        <p>{{'OURSERVICESPAGE.CLINICALCONSULTATIONINNERCONTENT2' | translate}}</p>
                                    </li>
                                    <li class="child-li1">
                                        <p>{{'OURSERVICESPAGE.CLINICALCONSULTATIONINNERCONTENT3' | translate}}</p>
                                    </li>
                                    <li class="child-li1">
                                        <p>{{'OURSERVICESPAGE.CLINICALCONSULTATIONINNERCONTENT4' | translate}}</p>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.CLINICALCONSULTATIONCONTENT1' | translate}}</p>
                                    </li>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.CLINICALCONSULTATIONCONTENT2' | translate}}</p>
                                    </li>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.CLINICALCONSULTATIONCONTENT3' | translate}}</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p>{{'OURSERVICESPAGE.CLINICALCONSULTATIONCONTENT4' | translate}}</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <button type="button" class="btn primary-button" (click)="gotocontact()">Contact us</button>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <img class="card-image" src="../../../assets/images/disabled-child.png">
            </div> -->
        </div>
        <div class="row service-list mt-5">
            <!-- <div class="col-md-6">
                <img class="card-image" src="../../../assets/images/corporate-team-workers.png">
            </div> -->
            <div class="col-md-12">
                <div class="executive-organizational">
                    <h2>{{'OURSERVICESPAGE.SUPERVISION' | translate}}</h2>
                    <img src="../../../assets/images/03.png" />
                </div>
                <div class="pt-5">
                    <ul>
                        <li>
                            <p>{{'OURSERVICESPAGE.SUPERVISIONCONTENT' | translate}}</p>
                            <div>
                                <ul>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.SUPERVISIONINNERCONTENT1' | translate}}</p>
                                    </li>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.SUPERVISIONINNERCONTENT2' | translate}}</p>
                                    </li>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.SUPERVISIONINNERCONTENT3' | translate}}</p>
                                    </li>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.SUPERVISIONINNERCONTENT4' | translate}}</p>
                                    </li>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.SUPERVISIONINNERCONTENT5' | translate}}</p>
                                    </li>
                                    <li class="child-li">
                                        <p>{{'OURSERVICESPAGE.SUPERVISIONINNERCONTENT6' | translate}}</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p>{{'OURSERVICESPAGE.SUPERVISIONCONTENT1' | translate}}</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <button type="button" class="btn primary-button" (click)="gotocontact()">Contact us</button>
                </div>
            </div>
        </div>
        <div class="row service-list mt-5">
            <div class="col-md-12">
                <div class="executive-organizational">
                    <h2>Training</h2>
                    <img src="../../../assets/images/04.png" />
                </div>
                <div class="pt-5">
                    <ul>
                        <li>
                            <p>DAXTA designs and delivers training individualized to your needs. Choose between a
                                one-time training or a personalized training curriculum. Our team is prepared to offer
                                high-quality training in ABA focused on our clients’ needs. Trainings can cover a range
                                of topics including:</p>
                            <div>
                                <ul>
                                    <li class="child-li">
                                        <p>Behavior-analytic principles</p>
                                    </li>
                                    <li class="child-li">
                                        <p>Behavior management</p>
                                    </li>
                                    <li class="child-li">
                                        <p>Measurement systems</p>
                                    </li>
                                    <li class="child-li">
                                        <p>Experimental designs</p>
                                    </li>
                                    <li class="child-li">
                                        <p>Supervision</p>
                                    </li>
                                    <li class="child-li">
                                        <p>Ethics</p>
                                    </li>
                                    <li class="child-li">
                                        <p>And more…</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p>DAXTA is an approved continuing education provider for the Behavior Analysis
                                Certification Board (BCBA R), and continuing education credit may be provided for
                                qualifying training content. </p>
                        </li>
                    </ul>
                </div>
                <div>
                    <button type="button" class="btn primary-button" (click)="gotocontact()">Contact us</button>
                </div>
            </div>

            <div class="col-md-12 mt-5">
                <div class="executive-organizational">
                    <h2>Courses</h2>
                    <img src="../../../assets/images/05..png" />
                </div>
                <div class="pt-5">
                    <ul>
                        <li>
                            <p>DAXTA is always searching for ways to spread knowledge, and one way we do so is via
                                courses. Find new on-demand and live courses every month to continue to develop and
                                refine your professional skills or to learn about something new.</p>
                         
                        </li>
                        <li>
                            <p>Are you a BCBA or BCaBA? We are an authorized continuing education provider by the
                                Behavior Analyst Certification Board, and we offer CEUs in many of our courses to help
                                you maintain your credential!</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <button type="button" class="btn primary-button" (click)="gotocontact()">Contact us</button>
                </div>
            </div>

            <!-- <div class="col-md-6">
                <img class="card-image" src="../../../assets/images/disabled-child.png">
            </div> -->
        </div>
        <app-form></app-form>
    </div>
    <app-clinical-software></app-clinical-software>
</div>