<div>
    <div>
        <app-header></app-header>
    </div>
    <!-- section 1 -->
    <div class="section1">
        <div class="mainclass">
            <div class="container">
                <div>
                    <h3 class="text-center">Our services</h3>
                    <p class="text-p f-18">DAXTA can help your company increase quality and efficiency in the treatment of
                        autism and other developmental <br>
                        disabilities. At DAXTA, we provide support and guidance to service providers in areas related to
                        system development and <br>
                        implementation to evaluate and increase quality of services, as well as build capacity for their
                        staff. Our services include:</p>
                </div>
            </div>


            <div class="container">
                <div class="row" style="margin-top: 200px;">
                    <div class="col-md-6 p-0">
                        <img src="../../../assets/ourservice/corporate-team-workers-it-company.png">
                    </div>
                    <div class="col-md-6">
                        <div class="inner-div1">
                            <p class="tag-p">Executive Organizational Consultation</p>
                            <ul class="ul-a">
                                <li class="ul-a f-18">DAXTA provides remote consultation to autism service provides in areas related to
                                    company administration and operations. Our executive consultation is a personalized
                                    service tailored to your company’s needs and can cover a range of topics:</li>
                            </ul>
                            <ul class="ul-b">
                                <li class="ul-b f-16">Time management</li>
                                <li class="ul-b f-16">Performance monitoring</li>
                                <li class="ul-b f-16">Performance feedback</li>
                                <li class="ul-b f-16">System development, evaluation, and maintenance</li>
                                <li class="ul-b f-16">Standardized operational systems to promote efficiency and increase internal
                                    capacity</li>
                            </ul>
                            <ul class="ul-a">
                                <li class="ul-a f-18">DAXTA provides remote consultation to autism service provides in areas related to
                                    company administration and operations. Our executive consultation is a personalized
                                    service tailored to your company’s needs and can cover a range of topics:</li>
                            </ul>
                        </div>
                        <div>
                            <button type="button" class="service-btn">View More</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row p-0" style="margin-top: 150px;">
                    <div class="col-md-6">
                        <div class="inner-div2">
                            <p class="tag-p">Executive Organizational Consultation</p>
                            <ul class="ul-a">
                                <li class="ul-a f-18">DAXTA provides remote consultation to autism service provides in areas related to
                                    company administration and operations. Our executive consultation is a personalized
                                    service tailored to your company’s needs and can cover a range of topics:</li>
                            </ul>
                            <ul class="ul-b">
                                <li class="ul-b f-16">Development of clinical systems to promote efficiency and effectiveness in internal
                                    processes, including:</li>
                            </ul>
                            <ul class="ul-c">
                                <li class="ul-c">Initial and ongoing staff training</li>
                                <li class="ul-c">Supervision system and tools for performance evaluation</li>
                                <li class="ul-c">Evaluation of treatment quality</li>
                                <li class="ul-c">Peer-review for clinical cases</li>
                            </ul>
                            <ul class="ul-b">
                                <li class="ul-b f-16">Identification and development of clinical standards and tools to promote
                                    high-quality and efficiency of services</li>
                                <li class="ul-b f-16">Clinical mentoring and consultation</li>
                                <li class="ul-b f-16">Clinical consultation related to service expansion</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img
                            src="../../../assets/ourservice/disabled-child-doing-sensory-activity-with-toys-rehabilitation.png">
                    </div>
                </div>
                <div>
                    <button type="button" class="service-btn f-18">View More</button>
                </div>
            </div>

            <div class="container">
                <div class="row p-0" style="margin-top: 150px;">
                    <div class="col-md-6">
                        <img src="../../../assets/ourservice/pointing-contract.png">
                    </div>
                    <div class="col-md-6">
                        <div class="inner-div3">
                            <p class="tag-p">Executive Organizational Consultation</p>
                            <ul class="ul-a">
                                <li class="ul-a f-18">At DAXTA we provide clinical support, supervision, and training for aspiring
                                    behavior
                                    analysts in the treatment of autism and other developmental disabilities. Our
                                    behavior
                                    analysts are qualified to provide remote supervision according to the Behavior
                                    Analyst
                                    Certification Board and the Qualified Applied Behavior Analyst Credentialing Board.
                                    Our
                                    supervisees receive ongoing supervision in the following areas:</li>
                            </ul>
                            <ul class="ul-b">
                                <li class="ul-b f-16">Assessment and evaluation of skills and behaviors</li>
                                <li class="ul-b f-16">Development of clinical goals and programs</li>
                                <li class="ul-b f-16">Graphing and data analysis</li>
                                <li class="ul-b f-16">Data-based decisions</li>
                                <li class="ul-b f-16">Treatment integrity</li>
                                <li class="ul-b f-16">Performance feedback</li>
                            </ul>
                            <ul class="ul-a">
                                <li class="ul-a f-18">We ensure our supervisees receive supervision in the topics outlined by each
                                    credentialing board as part of the examination requirements and provide ongoing
                                    feedback and resources throughout the supervisory relationship. Our supervision
                                    experience is customized to match each supervisee's individual needs and practicum
                                    setting.</li>
                            </ul>
                        </div>
                        <div>
                            <button type="button" class="service-btn">View More</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row p-0" style="margin-top: 150px; margin-bottom: 200px;">
                    <div class="col-md-6">
                        <div class="inner-div4">
                            <p class="tag-p">Executive Organizational Consultation</p>
                            <ul class="ul-a">
                                <li class="ul-a f-18">Information on hiring us to conduct personalized trainings for groups of professionals or for staff within specific clinic</li>
                                <li class="ul-a f-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</li>
                            </ul>
                            <ul class="ul-b">
                                <li class="ul-b f-16">Assessment and evaluation of skills and behaviors</li>
                                <li class="ul-b f-16">Development of clinical goals and programs</li>
                                <li class="ul-b f-16">Graphing and data analysis</li>
                                <li class="ul-b f-16">Data-based decisions</li>
                                <li class="ul-b f-16">Treatment integrity</li>
                                <li class="ul-b f-16">Performance feedback</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/ourservice/danny-nee-j3p9rcCRDA0-unsplash.png">
                    </div>
                </div>
                <div>
                    <button type="button" class="service-btn f-18">View More</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row textarea1" style="margin-top: 200px;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 p-0 back">
            <div class="app1">
                <p class="demo">DAXTA Clinical Software </p>
                <p class="text1"> Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor</p>
            </div>

            <div class=" play-img1">
                <div class=" playstore">
                    <button type="button" class="schedule-btn">Schedule Demo</button>
                    <button type="button" class="more-btn">More Information</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 p-0">
            <img src="../../assets/logo/Ipad.png" class="tab">
        </div>
    </div> -->


</div>


<div>
    <app-footer></app-footer>
</div>