<div>
    <!-- section 1 -->
    <div class="section1">
        <div class="mainclass">
            <div class="container">
                <div class="mt-5">
                    <div class="text-center header">
                        <h1 class="fw">Our
                            <span class=" header-contant">Services</span>
                        </h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <p class="text-p text-center fw">DAXTA can help your company increase quality and efficiency in the
                                treatment of
                                autism and other developmental
                                disabilities. At DAXTA, we provide support and guidance to service providers in areas
                                related to
                                system development and
                                implementation to evaluate and increase quality of services, as well as build capacity
                                for their
                                staff. Our services include:</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row justify-content-center" style="margin-top: 100px;">
                    <div class="col-md-10 col-12 col-lg-6 align-items-center d-flex service-list">
                        <img src="../../../assets/images/Executive Organizational Consultation.png" class="our-img">
                    </div>
                    <div class="col-md-10 col-12 col-lg-6">
                        <div class="inner-div1">
                            <p class="tag-p">Executive Organizational Consultation</p>
                            <ul class="ul-a">
                                <li class="ul-a f-16 fw">DAXTA provides remote consultation to autism service provides
                                    in areas related to
                                    company administration and operations. Our executive consultation is a personalized
                                    service tailored to your company’s needs and can cover a range of topics:</li>
                            </ul>
                            <ul class="ul-b">
                                <li class="ul-b f-16 fw">Time management</li>
                                <li class="ul-b f-16 fw">Performance monitoring</li>
                                <li class="ul-b f-16 fw">Performance feedback</li>
                                <li class="ul-b f-16 fw">System development, evaluation, and maintenance</li>
                                <li class="ul-b f-16 fw">Standardized operational systems to promote efficiency and
                                    increase internal
                                    capacity</li>
                            </ul>
                            <ul class="ul-a">
                                <li class="ul-a f-16 fw">DAXTA provides remote consultation to autism service provides
                                    in areas related to
                                    company administration and operations. Our executive consultation is a personalized
                                    service tailored to your company’s needs and can cover a range of topics:</li>
                            </ul>
                        </div>
                        <div>
                            <button type="button" class="service-btn fw">View More</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center service-list" style="margin-top: 100px;">
                    <div class="col-md-10 col-12 col-lg-6 ">
                        <div class="inner-div2">
                            <p class="tag-p fw">Clinical Consultation</p>
                            <ul class="ul-a">
                                <li class="ul-a f-16 fw">DAXTA provides remote consultation to autism service provides
                                    in areas related to
                                    company administration and operations. Our executive consultation is a personalized
                                    service tailored to your company’s needs and can cover a range of topics:</li>
                            </ul>
                            <ul class="ul-b">
                                <li class="ul-b f-16 fw">Development of clinical systems to promote efficiency and
                                    effectiveness in internal
                                    processes, including:</li>
                            </ul>
                            <ul class="ul-c">
                                <li class="ul-c fw">Initial and ongoing staff training</li>
                                <li class="ul-c fw">Supervision system and tools for performance evaluation</li>
                                <li class="ul-c fw">Evaluation of treatment quality</li>
                                <li class="ul-c fw">Peer-review for clinical cases</li>
                            </ul>
                            <ul class="ul-b">
                                <li class="ul-b f-16 fw">Identification and development of clinical standards and tools
                                    to promote
                                    high-quality and efficiency of services</li>
                                <li class="ul-b f-16 fw">Clinical mentoring and consultation</li>
                                <li class="ul-b f-16 fw">Clinical consultation related to service expansion</li>
                            </ul>
                        </div>
                        <div>
                            <button type="button" class="service-btn f-18 fw">View More</button>
                        </div>
                    </div>
                    <div class="col-md-10 col-12 col-lg-6 align-items-center d-flex ">
                        <img src="../../../assets/images/Clinical Consultation.png" class="our-img">
                    </div>
                </div>
              
            </div>

            <div class="container">
                <div class="row  justify-content-center" style="margin-top: 100px;">
                    <div class="col-md-10 col-12 col-lg-6 align-items-center d-flex">
                        <img src="../../../assets/images/Supervision.png" class="our-img">
                    </div>
                    <div class="col-md-10 col-12 col-lg-6">
                        <div class="inner-div3">
                            <p class="tag-p fw">Supervision</p>
                            <ul class="ul-a">
                                <li class="ul-a f-16 fw">At DAXTA we provide clinical support, supervision, and training
                                    for aspiring
                                    behavior
                                    analysts in the treatment of autism and other developmental disabilities. Our
                                    behavior
                                    analysts are qualified to provide remote supervision according to the Behavior
                                    Analyst
                                    Certification Board and the Qualified Applied Behavior Analyst Credentialing Board.
                                    Our
                                    supervisees receive ongoing supervision in the following areas:</li>
                            </ul>
                            <ul class="ul-b">
                                <li class="ul-b f-16 fw">Assessment and evaluation of skills and behaviors</li>
                                <li class="ul-b f-16 fw">Development of clinical goals and programs</li>
                                <li class="ul-b f-16 fw">Graphing and data analysis</li>
                                <li class="ul-b f-16 fw">Data-based decisions</li>
                                <li class="ul-b f-16 fw">Treatment integrity</li>
                                <li class="ul-b f-16 fw">Performance feedback</li>
                            </ul>
                            <ul class="ul-a">
                                <li class="ul-a f-16 fw">We ensure our supervisees receive supervision in the topics
                                    outlined by each
                                    credentialing board as part of the examination requirements and provide ongoing
                                    feedback and resources throughout the supervisory relationship. Our supervision
                                    experience is customized to match each supervisee's individual needs and practicum
                                    setting.</li>
                            </ul>
                        </div>
                        <div>
                            <button type="button" class="service-btn fw">View More</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center  service-list" style="margin-top: 100px; margin-bottom: 200px;">
                    <div class="col-md-10 col-12 col-lg-6">
                        <div class="inner-div4">
                            <p class="tag-p fw">Training</p>
                            <ul class="ul-a">
                                <li class="ul-a f-16 fw">Information on hiring us to conduct personalized trainings for
                                    groups of professionals or for staff within specific clinic</li>
                                <li class="ul-a f-16 fw">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                </li>
                            </ul>
                            <ul class="ul-b">
                                <li class="ul-b f-16 fw">Assessment and evaluation of skills and behaviors</li>
                                <li class="ul-b f-16 fw">Development of clinical goals and programs</li>
                                <li class="ul-b f-16 fw">Graphing and data analysis</li>
                                <li class="ul-b f-16 fw">Data-based decisions</li>
                                <li class="ul-b f-16 fw">Treatment integrity</li>
                                <li class="ul-b f-16 fw">Performance feedback</li>
                            </ul>
                        </div>
                        <div>
                            <button type="button" class="service-btn f-18 fw">View More</button>
                        </div>

                    </div>
                    <div class="col-md-10 col-12 col-lg-6 align-items-center d-flex">
                        <img src="../../../assets/images/Training-team.png" class="our-img">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div>
        <app-form></app-form>
    </div>

    <div>
        <app-daxtatab></app-daxtatab>
    </div>
</div>