.card-image {
  width: 100%;
}

.primary-button {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.executive-organizational {
  position: relative;
  img {
    position: absolute;
    top: -60px;
    left: 0px;
  }
}

ul {
  padding-left: 0px;
  li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    position: relative;
  }
  li:before {
    content: url("../../../assets/images/Check_Mark.png");
    position: absolute;
    left: 0px;
    top: 5px;
  }

  .child-li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    position: relative;
  }

  .child-li::before {
    content: url("../../../assets/images/Path_Right.png");
    position: absolute;
    left: 0px;
    top: 2px;
  }
}

//<--------------//MEDIA_QUERIES----------------------------------------------->>

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 575px) {
  .service-list:nth-child(odd) {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .executive-organizational{
    margin-top: 50px;
  }
}
