<div class="content">
    <div class="container">

        <div class="row text-center section1-header">
            <h1>Layla <span class="section1-header-content">Sump</span></h1>
            <p class="pt-3">Ph.D., BCBA-D, QBA, LBA – Co-Founder
            </p>
        </div>
        <div class="row">

            <p>Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremt
                Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem
                ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem
                ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
            </p>
        </div>
        <div class="row">
            <h2 class="pt-4 pb-4">PUBLICATIONS </h2>
            <ul>
                <li class="child-li1">LeBlanc, L. A., Sump, L. A., Leaf, J. B., & Cihon, J. (2020). The effects of
                    standard and enhanced data
                    sheets on the implementation of conditional discrimination training. Behavior Analysis in Practice,
                    13,
                    53-62.</li>
                <li class="child-li1">Brewer, A., Richman, D., Grubb, L., Sump, L., & Hayes, W. (2018). An Analysis of
                    idiosyncratic response
                    persistence across individuals with autism spectrum disorder. Experimental Analysis of Human
                    Behavior
                    Bulletin, 31, 18-31.</li>
                <li class="child-li1">Sump, L. A., Mottau, B., & LeBlanc, L. A. (2018). Evaluation of effects of
                    behavioral skills training in
                    teaching basic computer skills to a young adult with autism. Behavior Analysis in Practice, 12,
                    331-334.</li>
                <li class="child-li1">Sump, L. A., Richman, D. M., Schaefer, A. M., Grubb, L. M., & Brewer, A. T.
                    (2018). Telehealth and
                    in-person training outcomes for novice discrete trial training therapists. Journal of Applied
                    Behavior
                    Analysis, 51, 466-481.</li>
                <li class="child-li1">Barnard-Brak, L., Abby, L., Richman, D. M, & Chesnut, S. (2017). Facial emotion
                    recognition among
                    typically developing young children: A psychometric validation of a subset of NimStim stimuli.
                    Psychiatry Research, 249, 109-114.</li>
                <li class="child-li1">Richman, D. M., Barnard-Brak, L., Abby, L., & Grubb, L. (2016). Multiple-stimulus
                    without replacement
                    preference assessment: Reducing the number of sessions to identify preferred stimuli. Journal of
                    Developmental and Physical Disabilities, 28, 469-477.</li>
                <li class="child-li1">Richman, D. M., Barnard-Brak, L., Grubb, L. M., Bosch, A., & Abby, L. (2015).
                    Meta-analysis of
                    noncontingent reinforcement effects on problem behavior. Journal of Applied Behavior Analysis, 48,
                    131-152.</li>
                <li class="child-li1"> Schroeder, S. R., Richman, D. M., Abby, L., Courtemanche, A. B., & Oyama-Ganiko,
                    R. (2014). Functional
                    analysis outcomes and comparison of direct observations and informant rating scales in the
                    assessment of
                    severe behavior problems of infants and toddlers at-risk for developmental delays. Journal of
                    Developmental and Physical Disabilities, 26, 325-334.</li>
                <li class="child-li1">Dotson, W. H., Richman, D. M., Abby, L., Thompson, S., & Plotner, A. (2013).
                    Teaching skills related to
                    self-employment to adults with developmental disabilities: An analogue analysis. Research in
                    Developmental Disabilities, 34, 2236-2350. </li>
                <li class="child-li1">Rojahn, J., Barnard-Brak, L., Richman, D. M., Dotson, W. H., Medeiros, K., Wei,
                    T., & Abby,
                    L. (2013).
                    Behavior problems in individuals with Cornelia de Lange Syndrome: Population-specific validation of
                    the
                    Behavior Problem Inventory-01. Journal of Developmental and Physical Disabilities, 25, 505-515.
                </li>
                <li class="child-li1">Richman, D. M., Barnard-Brak, L., Bosch, A., Thompson, S., Grubb, L. M., & Abby,
                    L. (2013).
                    Predictors of
                    self-injurious behaviour exhibited by individuals with autism spectrum disorder. Journal of
                    Intellectual
                    Disability Research, 57, 429-439.</li>
                <li class="child-li1">McKerchar, P. M., & Abby, L. (2012). Systematic evaluation of variables
                    contributing to
                    noncompliance: A
                    replication and extension. Journal of Applied Behavior Analysis, 45, 607-611. </li>
                <li class="child-li1">Richman, D. M., Dotson, W. H., Rose, C. A., Thompson, S., & Abby, L. (2012).
                    Effects of age
                    on the types
                    and severity of excessive fears in children and young adults with autism. Journal of Mental Health
                    Research in Intellectual Disabilities, 5, 215-235.</li>
                <li class="child-li1 pb-5">Bitgood, S., Dukes, S., & Abby, L. (2007). Interest and effort as predictors of
                    reading: A test of the
                    general value principle. Current trends in audience research and evaluation. AAM Committee on
                    Audience
                    Research and Evaluation, 19/20, 5-10.</li>
                </ul>
        </div>
    </div>
</div>