ul {
  padding-left: 0px;
  li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    position: relative;
  }
  li:before {
    content: url("../../../../assets/icon/Ellipse\ 1.png");
    position: absolute;
    left: 0px;
    top: 5px;
  }

  .child-li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    position: relative;
  }

  .child-li1::before {
    content: url("../../../../assets/icon/Ellipse\ 1.png");
    position: absolute;
    left: 40px;
    top: 3px;
  }
  .child-li1 {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 60px;
    position: relative;
    font-size: 16px;
  }
}
.teammate-image{
  img{
    max-width: 100%;
  }
}
