<div class="content">
    <div class="container">

        <div class="row text-center section1-header">
            <h1>{{'TEAMPAGE.MARIANA' |translate}} </h1>
            <p class="pt-1">{{'TEAMPAGE.MARINADEGREE' |translate}}
            </p>
            <h3 class="text pt-1">{{'TEAMPAGE.FOUNDER2' |translate}}</h3>
        </div>
        <div class="customer-obssesed-div service-list1 d-lg-none mt-3">
            <img class="student-image" src="../../../assets/images/Mariana.png" />
        </div>
        <div class="row team-list mt-5">
            <div class="col-md-12 col-lg-6 mt-5">
                <p>
                    {{'TEAMPAGE.MARINACONTENT' |translate}}
                </p>
                <p class="mt-3">{{'TEAMPAGE.MARINACONTENT2' | translate}}</p>
                <p class="mt-3">{{'TEAMPAGE.MARINACONTENT3' | translate}} </p>
            </div>


            <div class="col-md-6 service-list ">
                <div class="teammate-image">
                    <img class="student-image" src="../../../../assets/images/Mariana.png">
                </div>
            </div>

        </div>
        <div class="row">
            <h2 class="pt-4 pb-4">{{'TEAMPAGE.PUBLICATION' | translate}} </h2>
            <ul>
                <li class="child-li1">{{'TEAMPAGE.MARINAPUBLICATION1' | translate}}</li>
                <li class="child-li1">{{'TEAMPAGE.MARINAPUBLICATION2' | translate}}</li>
                <li class="child-li1">{{'TEAMPAGE.MARINAPUBLICATION3' | translate}}</li>
                <li class="child-li1 pb-5">{{'TEAMPAGE.MARINAPUBLICATION4' | translate}}</li>
            </ul>
        </div>
    </div>
</div>