.mainclass{
    min-height: 100vh;
}

.tag-p {
    color: #0a2360;
    font-size: 55px;
    font-family: "Quicksand-Bold";
}

.tagp {
    color: #0a2360;
    // font-family: 'Quicksand-Medium';
    font-size: 18px;
    font-weight: 700;
}
ul {
    // list-style-image: url("../../../assets/ourservice/icon/Path\ 65.png");
    margin-left: 25px;
    font-size: 16px;
    font-family: "Quicksand-Bold";
    color: #0a2360;
}

.text-p {
    font-size: 16px;
    font-family: "Quicksand-Bold";
    color: #0a2360;
}

.text {
    font-weight: 700;
    color: #0a2360;
    font-family: "Quicksand-Bold";
}

.text-1 {
    font-size: 35px;
    font-weight: 700;
    color: #0a2360;
    font-family: "Quicksand-Bold";
}

.title {
    font-size: 20px;
    font-family: "Quicksand-Bold";
    color: #ea1b64;
    font-weight: 700;
    border: 0px;
}

th {
    border: 3px solid #fff;
}

td {
    border: 3px solid #fff;
}
.text {
    line-height: normal;
}
.dark{
    background-color: #F7F7FB;
}