<div class="content">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-7">
                <h1>{{'SOFTWAREPAGE.PAGEHEADER' | translate}}</h1>
                <p class="pt-3">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple
                    text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
                <div class="d-flex flex-row counts-row">
                    <div class="card software-card-shadow software-card mt-5">
                        <div class="card-body software-card-body text-center">
                            <h4 class="card-title">150</h4>
                            <p class="card-text pt-2">Total Downloads</p>
                        </div>
                    </div>
                    <div class="card software-card-shadow software-card mt-5">
                        <div class="card-body software-card-body text-center">
                              <h4 class="card-title">150</h4>
                            <p class="card-text pt-2">Total Downloads</p>
                        </div>
                    </div>
                    <div class="card software-card-shadow software-card mt-5">
                        <div class="card-body software-card-body text-center">
                              <h4 class="card-title">150</h4>
                            <p class="card-text pt-2">Total Downloads</p>
                        </div>
                    </div>
                </div>

                <h2 class="pt-5">Features</h2>
                <div class="pt-3">
                    <ul>
                        <li>
                            <p>Offline Data Collection </p>
                            <div>
                                <ul>
                                    <li class="child-li">
                                        <p>If we are going to do something orem ipsome is a simple text Lorem ipsome is
                                            a simple text Lorem ipsome is a simple tex</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p>Offline Data Collection </p>
                            <div>
                                <ul>
                                    <li class="child-li">
                                        <p>If we are going to do something orem ipsome is a simple text Lorem ipsome is
                                            a simple text Lorem ipsome is a simple tex</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <img class="login-img" src="../../../assets/images/login_group.png" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="text-center">
                <h1>Get the right plan for the future product</h1>
                <p class="pt-3 width-50">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a
                    simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class=" table-responsive width-75">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" ></th>
                            <th scope="col">Basic</th>
                            <th scope="col">Standard</th>
                            <th scope="col">Premium</th>
                            <th scope="col">Enterprise</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="250px" >Website</td>
                            <td class="table-data">01</td>
                            <td class="table-data">03</td>
                            <td class="table-data">10</td>
                            <td class="table-data">Unlimited</td>
                        </tr>
                        <tr>
                            <td>Storages</td>
                            <td class="table-data"><img src="../../../assets/images/cross.png" /></td>
                            <td class="table-data">03</td>
                            <td class="table-data"><img src="../../../assets/images/right.png" /></td>
                            <td class="table-data">Unlimited</td>
                        </tr>

                        <tr>
                            <td >Email Accounts</td>
                            <td class="table-data"><img src="../../../assets/images/cross.png" /></td>
                            <td class="table-data">03</td>
                            <td class="table-data"><img src="../../../assets/images/right.png" /></td>
                            <td class="table-data">Unlimited</td>
                        </tr>

                        <tr>
                            <td >Premium Themes</td>
                            <td class="table-data"><img src="../../../assets/images/cross.png" /></td>
                            <td class="table-data">03</td>
                            <td class="table-data"><img src="../../../assets/images/right.png" /></td>
                            <td class="table-data">Unlimited</td>
                        </tr>

                        <tr>
                            <td >Customer Support</td>
                            <td class="table-data"><img src="../../../assets/images/cross.png" /></td>
                            <td class="table-data">03</td>
                            <td class="table-data"><img src="../../../assets/images/right.png" /></td>
                            <td class="table-data">Unlimited</td>
                        </tr>

                        <tr class="last-row">
                            <td></td>
                            <td>
                                <div class="mt-4">
                                    <h6>Free</h6>
                                    <p class="pt-2">No credit card required</p>
                                    <button type="button" class="btn getstarted-button primary-button mt-3">Get
                                        Started</button>
                                </div>
                            </td>
                            <td>
                                <div class="mt-4">
                                    <h6>Free</h6>
                                    <p class="pt-2">Billed Yearly</p>
                                    <button type="button" class="btn getstarted-button primary-button mt-3">Get
                                        Started</button>
                                </div>
                            </td>
                            <td>
                                <div class="mt-4">
                                    <h6>Free</h6>
                                    <p class="pt-2">Billed Yearly</p>
                                    <button type="button" class="btn getstarted-button primary-button mt-3">Get
                                        Started</button>
                                </div>
                            </td>
                            <td>
                                <div class="mt-4">
                                    <h6>Free</h6>
                                    <p class="pt-2">Billed Yearly</p>
                                    <button type="button" class="btn getstarted-button primary-button mt-3">Get
                                        Started</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <app-form></app-form>
    </div>
</div>