<div class="content">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-7 align-items-center d-flex">
                <div>
                    <h1>{{'SOFTWAREPAGE.PAGEHEADER' | translate}}</h1>
                    <p class="pt-3">{{'SOFTWAREPAGE.PAGEHEADERCONTENT' | translate}}</p>
                </div>

                <!-- <div class="d-flex flex-row counts-row">
                    <div class="card software-card-shadow software-card mt-5">
                        <div class="card-body software-card-body text-center">
                            <h4 class="card-title">150</h4>
                            <p class="card-text pt-2">Total Downloads</p>
                        </div>
                    </div>
                    <div class="card software-card-shadow software-card mt-5">
                        <div class="card-body software-card-body text-center">
                            <h4 class="card-title">150</h4>
                            <p class="card-text pt-2">Total Downloads</p>
                        </div>
                    </div>
                    <div class="card software-card-shadow software-card mt-5">
                        <div class="card-body software-card-body text-center">
                            <h4 class="card-title">150</h4>
                            <p class="card-text pt-2">Total Downloads</p>
                        </div>
                    </div>
                </div> -->

                <!-- <h2 class="pt-5">{{'SOFTWAREPAGE.FEATURES' | translate}}</h2> -->
                <div class="pt-3">
                    <!-- <ul>
                        <li>
                            <p>{{'SOFTWAREPAGE.FEATURES1' | translate}}</p>
                            <div>
                                <ul>
                                    <li class="child-li">
                                        <p>{{'SOFTWAREPAGE.FEATURESCONTENT1' | translate}}</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p>{{'SOFTWAREPAGE.FEATURES2' | translate}}</p>
                            <div>
                                <ul>
                                    <li class="child-li">
                                        <p>{{'SOFTWAREPAGE.FEATURESCONTENT2' | translate}}</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p>{{'SOFTWAREPAGE.FEATURES3' | translate}}</p>
                            <div>
                                <ul>
                                    <li class="child-li">
                                        <p>{{'SOFTWAREPAGE.FEATURESCONTENT3' | translate}}</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p>{{'SOFTWAREPAGE.FEATURES4' | translate}}</p>
                            <div>
                                <ul>
                                    <li class="child-li">
                                        <p>{{'SOFTWAREPAGE.FEATURESCONTENT4' | translate}}</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <div  ng-show="checked">
                           
                            <li>
                                <p>{{'SOFTWAREPAGE.FEATURES5' | translate}}</p>
                                
                                <div>
                                    <ul>
                                        <li class="child-li">
                                            <p>{{'SOFTWAREPAGE.FEATURESCONTENT5' | translate}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p>{{'SOFTWAREPAGE.FEATURES6' | translate}}</p>
                                <div>
                                    <ul>
                                        <li class="child-li">
                                            <p>{{'SOFTWAREPAGE.FEATURESCONTENT6' | translate}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p>{{'SOFTWAREPAGE.FEATURES7' | translate}}</p>
                                <div>
                                    <ul>
                                        <li class="child-li">
                                            <p>{{'SOFTWAREPAGE.FEATURESCONTENT7' | translate}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p>{{'SOFTWAREPAGE.FEATURES8' | translate}}</p>
                                <div>
                                    <ul>
                                        <li class="child-li">
                                            <p>{{'SOFTWAREPAGE.FEATURESCONTENT8' | translate}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p>{{'SOFTWAREPAGE.FEATURES9' | translate}}</p>
                                <div>
                                    <ul>
                                        <li class="child-li">
                                            <p>{{'SOFTWAREPAGE.FEATURESCONTENT9' | translate}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p>{{'SOFTWAREPAGE.FEATURES10' | translate}}</p>
                                <div>
                                    <ul>
                                        <li class="child-li">
                                            <p>{{'SOFTWAREPAGE.FEATURESCONTENT10' | translate}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p>{{'SOFTWAREPAGE.FEATURES11' | translate}}</p>
                                <div>
                                    <ul>
                                        <li class="child-li">
                                            <p>{{'SOFTWAREPAGE.FEATURESCONTENT11' | translate}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </div>
                    </ul> -->
                </div>
            </div>
            <div class="col-md-5">
                <img class="login-img" src="../../../assets/images/login_group.png" />
            </div>
        </div>
        <h1 class="pt-5 pb-5">{{'SOFTWAREPAGE.FEATURES' | translate}}</h1>
        <div>
            <div class="row">
                <div class="col-md-4 mt-2">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div class=" mb-2">
                                <h4 class="card-title">Offline data collection</h4>
                                <p class="card-text">Collect data from anywhere without internet connection</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div class=" mb-2">
                                <h4 class="card-title">Automatic transition of targets</h4>
                                <p class="card-text">Targets can move automatically across phases and transition
                                    criteria
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div class=" mb-2">
                                <h4 class="card-title">Supports any type of measurement system</h4>
                            <p class="card-text">Including trials, event, duration, interval, latency, inter-response
                                time, and more!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-4 mt-2">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div class=" mb-2">
                                <h4 class="card-title">Supports any type of prompting</h4>
                                <p class="card-text">Identify and individualize prompting procedures and prompts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div class=" mb-2">
                                <h4 class="card-title">Supports any type of teaching procedure</h4>
                                <p class="card-text">Targets can move automatically across phases and transition criteria
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div class=" mb-2">
                                <h4 class="card-title">Ability to program for generalization </h4>
                                <p class="card-text">Targets can move automatically across phases and transition criteria
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-4 mt-2">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div class=" mb-2">
                                <h4 class="card-title">Automatic transition of targets</h4>
                                <p class="card-text">Targets can move automatically across phases and transition criteria
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div class=" mb-2">
                                <h4 class="card-title">Queued trials</h4>
                                <p class="card-text">Queue order of trials to occur automatically</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div class=" mb-2">
                                <h4 class="card-title">Curriculum bank</h4>
                                <p class="card-text">Save program templates and individualize across clients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-4 mt-2">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div class=" mb-2">
                                <h4 class="card-title">Flexible data collection</h4>
                                <p class="card-text">Collect data for direct care and research</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div class=" mb-2">
                                <h4 class="card-title">Available in multiple languages</h4>
                                <p class="card-text">Available in English and Portuguese. More languages to come!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>

        </div>


        <div class="row mt-5">
            <div class="text-center">
                <h1>{{'SOFTWAREPAGE.TABLECONTENT' | translate}}</h1>
                <p class="pt-3 width-50">{{'SOFTWAREPAGE.TABLECONTENT1' | translate}} </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class=" table-responsive width-75">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Basic</th>
                            <th scope="col">Standard</th>
                            <th scope="col">Premium</th>
                            <th scope="col">Enterprise</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="250px">Website</td>
                            <td class="table-data">01</td>
                            <td class="table-data">03</td>
                            <td class="table-data">10</td>
                            <td class="table-data">Unlimited</td>
                        </tr>
                        <tr>
                            <td>Storages</td>
                            <td class="table-data"><img src="../../../assets/images/cross.png" /></td>
                            <td class="table-data">03</td>
                            <td class="table-data"><img src="../../../assets/images/right.png" /></td>
                            <td class="table-data">Unlimited</td>
                        </tr>

                        <tr>
                            <td>Email Accounts</td>
                            <td class="table-data"><img src="../../../assets/images/cross.png" /></td>
                            <td class="table-data">03</td>
                            <td class="table-data"><img src="../../../assets/images/right.png" /></td>
                            <td class="table-data">Unlimited</td>
                        </tr>

                        <tr>
                            <td>Premium Themes</td>
                            <td class="table-data"><img src="../../../assets/images/cross.png" /></td>
                            <td class="table-data">03</td>
                            <td class="table-data"><img src="../../../assets/images/right.png" /></td>
                            <td class="table-data">Unlimited</td>
                        </tr>

                        <tr>
                            <td>Customer Support</td>
                            <td class="table-data"><img src="../../../assets/images/cross.png" /></td>
                            <td class="table-data">03</td>
                            <td class="table-data"><img src="../../../assets/images/right.png" /></td>
                            <td class="table-data">Unlimited</td>
                        </tr>

                        <tr class="last-row">
                            <td></td>
                            <td>
                                <div class="mt-4">
                                    <h6>Free</h6>
                                    <p class="pt-2">No credit card required</p>
                                    <button type="button" class="btn getstarted-button primary-button mt-3">Get
                                        Started</button>
                                </div>
                            </td>
                            <td>
                                <div class="mt-4">
                                    <h6>Free</h6>
                                    <p class="pt-2">Billed Yearly</p>
                                    <button type="button" class="btn getstarted-button primary-button mt-3">Get
                                        Started</button>
                                </div>
                            </td>
                            <td>
                                <div class="mt-4">
                                    <h6>Free</h6>
                                    <p class="pt-2">Billed Yearly</p>
                                    <button type="button" class="btn getstarted-button primary-button mt-3">Get
                                        Started</button>
                                </div>
                            </td>
                            <td>
                                <div class="mt-4">
                                    <h6>Free</h6>
                                    <p class="pt-2">Billed Yearly</p>
                                    <button type="button" class="btn getstarted-button primary-button mt-3">Get
                                        Started</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <app-form></app-form>
    </div>
</div>