<div>
    <div>
        <app-header></app-header>
    </div>

    <!-- // section 1 -->

    <div class="section1">
        <div class="maindiv">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="tag-p f-55">Praesent eu dolor eu orci
                            vehicula euismod.</p>
                        <p class="tagp f-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Sed
                            ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="text-center">150</p>
                                        <p class="text-center">Total</p>
                                        <p class="text-center">Downloads</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="text-center">200k+</p>
                                        <p class="text-center">Happy</p>
                                        <p class="text-center">Customers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="text-center">300</p>
                                        <p class="text-center">Positive</p>
                                        <p class="text-center">Feedback</p>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 50px;">
                                <p style="font-size: 35px; font-family: 'Quicksand-SemiBold'; color: #0A2360;">Features
                                </p>
                                <ul>
                                    <li class="text-p">Time management</li>
                                    <li class="text-p">Performance monitoring</li>
                                    <li class="text-p">Performance feedback</li>
                                    <li class="text-p">System development, evaluation, and maintenance</li>
                                    <li class="text-p">Standardized operational systems to promote efficiency and
                                        increase internal capacity</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 back-img">
                        <div class="background">
                            <img src="../../../assets/software/Rectangle 356.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div>
                    <p class="tag-p text-center">Get the right plan for future product.</p>
                    <p class="tagp f-16 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Sed ut 
                        perspiciatis unde omnis iste natus error sit voluptatem</p>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="col-1"></th>
                            <th class="col-1">Basic</th>
                            <th class="col-1">Standard</th>
                            <th class="col-1">Premium</th>
                            <th class="col-1">Enterprise</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Websites</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">Storages</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">Email Accounts</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">Premium Themes</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">Advanced Forms</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">Premium Icons</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">Customer Support</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>



        </div>
    </div>
</div>