.login-img {
    width: 100%;
    height: auto;
}

.width-50 {
    width: 50%;
    margin: auto !important;
}

.width-75 {
    width: 75%;
    margin: auto !important;
}

th {
    color: var(--secondary-color);
    font-family: "Quicksand-Bold";
}

td {
    color: var(--primary-color);
    font-family: "Quicksand-Bold";
    // text-align: center;
    padding: 15px !important;
    background-color: #f7f7fb;
    border-bottom: 2px solid var(--white-color) !important;
    border-right: 2px solid var(--white-color);
}

.last-row {
    td {
        background-color: transparent !important;
        // text-align: left;
        h6 {
            font-family: "Quicksand-Bold" !important;
            color: #000000 !important;
        }
    }
}

.table-data {
    font-family: "Quicksand-Medium" !important;
}

.getstarted-button {
    border-radius: 3px !important;
    font-family: "Quicksand-SemiBold" !important;
}

.table > :not(:first-child) {
    border: none !important;
}

ul {
    padding-left: 0px;
    li {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 25px;
        position: relative;
        p {
            font-family: "Quicksand-Bold";
        }
    }
    li:before {
        content: url("../../../assets/images/Check_Mark.png");
        position: absolute;
        left: 0px;
        top: 5px;
    }

    .child-li {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 20px;
        position: relative;
        p {
            font-family: "Quicksand-SemiBold";
        }
    }

    .child-li::before {
        content: url("../../../assets/images/Path_Right.png");
        position: absolute;
        left: 0px;
        top: 2px;
    }
}

.software-card {
    height: 150px;
    width: 140px;
    margin-right: 40px !important;
    border: none;
    .software-card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4,p{
            font-family: "Quicksand-Bold";
        }
    }
}



//<--------------//MEDIA_QUERIES----------------------------------------------->>

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
    // .daxta-card-body{
    //     background-color: transparent;
    //     height: 170px;
    //     border: 1px solid black;
    //   }
}
@media only screen and (max-width: 1024px) {
    .daxta-card-body{
        height: 170px;
      }
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 768px) {
    .daxta-card-body{
        height: 190px;
      }
}
@media only screen and (max-width: 575px) {
    .counts-row{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .width-50{
        width: 100% !important;
    }
    .width-75{
        width: 100% !important;
    }
}


.animate-show-hide.ng-hide {
    opacity: 0;
  }
  
  .animate-show-hide.ng-hide-add,
  .animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
  }
  
  .check-element {
    border: 1px solid black;
    opacity: 1;
    padding: 10px;
  }

  .daxta-card-body{
    background-color: transparent;
    min-height: 140px;
    // border: 1px solid black;
  }
 h2{
     font-weight: bold;
 }

  h4{
      font-weight: bold;
  }
