<div class="header">
    <div class="background">
        <div class="container pt-4">
            <div class=" row main-div">
                <div class="col-12 col-md-6 col-lg-8 p-0">
                    <img class="image" src="../../../assets/logo/avatar-azul.png">
                </div>

                <div class="col-4  col-md-2 col-lg-2 p-0  inner-div">
                    <div class="row">
                        <div class="col-2 col-md-4 col-lg-2  logo">
                            <img src="../../../assets/header/22) Icons-Line-Phone.svg">
                        </div>
                        <div class="col-2 col-md-2 col-sm-2">
                            <p class="phone">phone</p>
                            <p>+123456789</p>
                        </div>
                    </div>
                </div>

                <div class="col-4 col-md-2 col-lg-2 p-0  inner-div1">
                    <div class="row">
                        <div class="col-2 col-md-4 col-lg-2 logo">
                            <img src="../../../assets/header/22) Icons-Line-Mail.svg">
                        </div>
                        <div class="col-2 col-md-2 col-sm-2">
                            <p class="phone">Email</p>
                            <p>carrieer@123.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="fa fa-bars" style="color:#fff;"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarScroll">
                            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                                <li class="nav-item" >
                                    <a class="nav-link active tag-a" aria-current="page" routerLink="/home" routerLinkActive="router-link-active"  >Home</a>
                                    <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">  
                                        <a class="nav-link tag-a" routerLink="/about"   routerLinkActive="router-link-active" >About Us</a>
                                        <!-- <div class="dropdown-content">
                                            <a class="nav-link tag-a" routerLink="/about/missionvalue" routerLinkActive="router-link-active">Mission & Values</a>
                                            <a class="nav-link tag-a" routerLink="/about/ourhistory"  routerLinkActive="router-link-active">Our History</a>
                                            <a class="nav-link tag-a" routerLink="/about/clinicalteam" routerLinkActive="router-link-active">Clinical Team</a>
                                        </div> -->
                                    </div>
                                    <!-- <a class="nav-link tag-a">About us</a> -->

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tag-a" routerLink="/ourservice" routerLinkActive="router-link-active">Our Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  tag-a" routerLink="/software" routerLinkActive="router-link-active">Software</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  tag-a" routerLink="/courses" routerLinkActive="router-link-active">Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  tag-a" routerLink="/blog" routerLinkActive="router-link-active">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  tag-a" routerLink="/contactus" routerLinkActive="router-link-active">Contact Us</a>
                                </li>
                            </ul>

                            <form class="d-flex">
                                <div class="dropdown1">
                                    <button class="btn btn-success 
                                                 dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown1" aria-haspopup="true" aria-expanded="false">
                                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20200630132504/uflag.jpg"
                                            class="flag" width="30" height="30">
                                    </button>

                                    <div class="dropdown-content1">
                                        <a href="#" >
                                            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20200630132503/iflag.jpg"
                                                width="30" height="25"></a>
                                        <a href="#">
                                            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20200630132502/eflag.jpg"
                                                width="30" height="25"></a>
                                        <a href="#">
                                            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20200630132500/bflag.jpg"
                                                width="30" height="25"></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>