<div class="content">
  <img class="corporate-office" src="../../../../assets/images/corporate-team.png" />
  <div class="container">
    <div class="row mt-5">
      <div class="text-center remote-work-header">
        <h3 class="mb-2">Lorem ipsome content elevating Lorem ipsome content elevating care</h3>
        <p class="width-75">Lorem ipsome content elevating care for autism and other developmental
          disabilities elevating care for autism and other developmental disabilities</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="d-flex flex-row justify-content-center align-items-center profile-div width-75">
        <div>
          <img src="../../../../assets/images/profile.png" />
        </div>
        <div class="profile-details mx-3">
          <h6>Lance Bograi</h6>
          <p>Published on Jan 01,2020</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <p class="width-75">Lorem ipsome content elevating care for autism and other developmental disabilities elevating
        care for autism
        and other developmental disabilities Lorem ipsome content elevating care for autism and other developmental
        disabilities elevating care for autism and other developmental disabilitiesLorem ipsome content elevating care
        for autism and other developmental disabilities elevating care for autism and other developmental
        disabilitiesLorem ipsome content elevating care for autism and other developmental disabilities elevating care
        for autism and other developmental disabilitiesLorem ipsome content elevating care for autism and other
        developmental disabilities elevating care for autism and other developmental disabilitiesLorem ipsome content
        elevating care for autism and other developmental disabilities elevating care for autism and other developmental
        disabilitiesLorem ipsome content elevating care for autism and other developmental disabilities elevating care
        for autism and other developmental disabilitiesLorem ipsome content elevating care for autism and other
        developmental disabilities elevating care for autism and other developmental disabilitiesLorem ipsome content
        elevating care for autism and other developmental disabilities elevating care for autism and other developmental
      </p>
    </div>
    <div class="row mt-5">
      <img src="../../../../assets/images/parent-child.jpg" />
    </div>
    <div class="row mt-5">
      <p class="width-75">Lorem ipsome content elevating care for autism and other developmental disabilities elevating
        care for autism
        and other developmental disabilities Lorem ipsome content elevating care for autism and other developmental
        disabilities elevating care for autism and other developmental disabilitiesLorem ipsome content elevating care
        for autism and other developmental disabilities elevating care for autism and other developmental
        disabilitiesLorem ipsome content elevating care for autism and other developmental disabilities elevating care
      </p>
    </div>
    <div class="row mt-3">
      <p class="width-75">Lorem ipsome content elevating care for autism and other developmental disabilities elevating
        care for autism
        and other developmental disabilities Lorem ipsome content elevating care for autism and other developmental
        disabilities elevating care for autism and other developmental disabilitiesLorem ipsome content elevating care
        for autism and other developmental disabilities elevating care for autism and other developmental
        disabilitiesLorem ipsome content elevating care for autism and other developmental disabilities elevating care
      </p>
    </div>
    <div class="row mt-5 ">
      <div class="width-75 rectangle-div text-center">
        <p class="rectangle-div-content"> and other developmental disabilities Lorem ipsome content elevating care for
          autism and other developmental
          disabilities elevating care for autism and other developmental disabilitiesLorem ipsome content elevating care
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="width-75">
        <p>Lorem ipsome content elevating care for autism and other developmental disabilities elevating
          care for autism
          and other developmental disabilities Lorem ipsome content elevating care for autism and other developmental
          disabilities elevating care for autism and other developmental disabilitiesLorem ipsome content elevating care
          for autism and other developmental disabilities elevating care for autism and other developmental
          disabilitiesLorem ipsome content elevating care for autism and other developmental disabilities elevating care
        </p>
        <ul class="mt-3">
          <li class="new-topic-list mt-3"> Lorem ipsome content elevating care for autism and other developmental
            disabilities elevating
            care for autism Lorem ipsome content elevating care for autism and other developmental
            disabilities elevating
            care for autism Lorem ipsome content elevating care for autism and other developmental
            disabilities elevating
            care for autism</li>
          <li class="new-topic-list mt-3">Lorem ipsome content elevating care for autism and other developmental
            disabilities elevating
            care for autism Lorem ipsome content elevating care for autism and other developmental
            disabilities elevating
            care for autism Lorem ipsome content elevating care for autism and other developmental
            disabilities elevating
            care for autism</li>
          <li class="new-topic-list mt-3">Lorem ipsome content elevating care for autism and other developmental
            disabilities elevating
            care for autism Lorem ipsome content elevating care for autism and other developmental
            disabilities elevating
            care for autism Lorem ipsome content elevating care for autism and other developmental
            disabilities elevating
            care for autism</li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <img src="../../../../assets/images/parent-child2.jpg" />
    </div>
    <div class="row mt-5">
      <p class="width-75">Lorem ipsome content elevating care for autism and other developmental disabilities elevating
        care for autism
        and other developmental disabilities Lorem ipsome content elevating care for autism and other developmental
        disabilities elevating care for autism and other developmental disabilitiesLorem ipsome content elevating care
        for autism and other developmental disabilities elevating care for autism and other developmental
        disabilitiesLorem ipsome content elevating care for autism and other developmental disabilities elevating care
      </p>
    </div>
  </div>
  <app-clinical-software></app-clinical-software>
</div>