<div class="content">
    <div class="container">
        <div class="row text-center section1-header">
            <h1>{{ 'ABOUTUSPAGE.ABOUT'| translate }} <span class="section1-header-content">DAXTA</span></h1>
            <p class="pt-3">One in fourty-four children are diagnosed with an autism spectrum disorder in the United States (Centers for Disease Control and Prevention, 2021). Interventions based on the science of applied behavior analysis (ABA) are the evidence-based best-practice treatment for autism spectrum disorders. Founded in 2018, DAXTA is a growing company with the mission to globally elevate accessibility and quality of behavior analytic treatment by increasing the effectiveness and capacity of clinical service providers. We do this through our software, trainings, and by providing clinical supervision as well as consultation for ABA clinical service providers. </p>
        </div>
        <div class="row about-page-content">
            <div class="col-md-4 excellence-div">
                <h1>01.</h1>
                <h2 class="pt-4 pb-4">Excellence</h2>
                <ul>
                    <li>If we are going to do something, we will do it well</li>
                    <li>We incorporate best practices in our work</li>
                    <li>We strive to build systems that will promote the use of evidence-based practices by clinical
                        providers</li>
                </ul>
            </div>
            <div class="col-md-4 team-members-div">
                <h1>02.</h1>
                <h2 class="pt-4 pb-4">Team Centered</h2>
                <ul>
                    <li>Our team is our asset. At DAXTA, team members are loyal and we want them to remain loyal</li>
                    <li>If our team members are well-equipped, qualified and happy, the customer experience will be as well</li>
                    <li>We want to grow, and we want our team members to grow with us</li>
                </ul>
            </div>
            <div class="col-md-4 customer-div pt-5">
                <div class="customer-obssesed-div">
                    <h2 class="">Our Core Values</h2>
                    <p class="pt-4">All the work we do revolves around our core values</p>
                </div>
                <h1 class="pt-5">03.</h1>
                <h2 class="pt-4 pb-4">Customer Obsessed</h2>
                <ul>
                    <li>We strive to provide efficient and effective customer support</li>
                    <li>We are open to all feedback</li>
                    <li>We are always attempting to implement feedback and requests that match our mission</li>
                    <li>We strive to have open and honest communication with our customers </li>
                </ul>
            </div>
        </div>
        <app-latest-job-content></app-latest-job-content>
        <app-form></app-form>
    </div>
    <app-clinical-software></app-clinical-software>
</div>