<div class="content">
    <div class="container">
        <div class="row text-center section1-header">
            <h1>{{ 'ABOUTUSPAGE.ABOUT'| translate }} <span class="section1-header-content">DAXTA</span></h1>
            <p class="pt-3">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
        </div>
        <div class="row about-page-content">
            <div class="col-md-4 excellence-div">
                <h1>01.</h1>
                <h2 class="pt-4 pb-4">Excellence</h2>
                <ul>
                    <li>If we are going to do something, we will do it well</li>
                    <li>We incorporate best practices in our work</li>
                    <li>We strive to build systems that will promote the use of evidence-based practices by clinical
                        providers</li>
                </ul>
            </div>
            <div class="col-md-4 team-members-div">
                <h1>02.</h1>
                <h2 class="pt-4 pb-4">Excellence</h2>
                <ul>
                    <li>If we are going to do something, we will do it well</li>
                    <li>We incorporate best practices in our work</li>
                    <li>We strive to build systems that will promote the use of evidence-based practices by clinical
                        providers</li>
                </ul>
            </div>
            <div class="col-md-4 customer-div">
                <div class="customer-obssesed-div">
                    <h2 class="">Lorem Ipsome Is Simply Dummy Text of The </h2>
                    <p class="pt-4"> We strive to build systems that will promote the use of evidence-based practices by
                        clinical providers We strive to build systems that will promote the use of evidence-based
                        practices by clinical providers</p>
                </div>
                <h1>03.</h1>
                <h2 class="pt-4 pb-4">Excellence</h2>
                <ul>
                    <li>If we are going to do something, we will do it well</li>
                    <li>We incorporate best practices in our work</li>
                    <li>We strive to build systems that will promote the use of evidence-based practices by clinical
                        providers</li>
                </ul>
            </div>
        </div>
        <app-latest-job-content></app-latest-job-content>
        <app-form></app-form>
    </div>
    <app-clinical-software></app-clinical-software>
</div>