.about-page-content {
    h1 {
        color: var(--secondary-color) !important;
        padding-bottom: 30px;
        border-bottom: 1px solid black;
    }
    ul {
        padding-left: 0px;
        li {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 25px;
            position: relative;
        }
        li:before {
            content: url("../../../assets/images/Check_Mark.png");
            position: absolute;
            left: 0px;
            top: 5px;
        }
    }
    .customer-obssesed-div {
        text-align: right;
    }
    .team-members-div {
        padding-top: 100px;
    }
}



//<--------------//MEDIA_QUERIES----------------------------------------------->>

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 575px) {
    .excellence-div, .customer-div, .team-members-div{
        padding-top: 50px !important;
    }
}









