<div class="content">
    <div class="container">

        <div class="row text-center section1-header">
            <h1>Team <span class="section1-header-content">Members</span></h1>
            <p class="pt-3">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
        </div>
        <div class="row">
            <img src="../../../assets/images/businesspeople.png" />
        </div>
        <div class="row team-list mt-5">
            <div class="col-md-6 mt-5 team-section-header">
                <div class="d-flex flex-row align-items-center">
                    <h2>Layla Sump</h2>
                    <h4 class="mx-2">Ph.D., BCBA-D, LBA(Layla Abby)</h4>
                </div>
                <h3 class="my-3">Co-Founder</h3>
                <p>Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremt Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                   </p>
            </div>
            <div class="col-md-6 mt-5 d-flex justify-content-end">
                <div class="teammate-image ">
                    <img class="student-image" src="../../../assets/images/girl-with-book.png" />
                    <img class="sticky-mark" src="../../../assets/images/Vector.png" />
                    <div class="student-position" [hidden]="!isShow" (click)="toggleShow()">
                        <h3>Publications</h3>
                        <img class="forward-arrow" src="../../../assets/images/noun-arrow-37677.png"/>
                    </div>
                    <div class="student-position" [hidden]="isShow">
                        <div class="expand-student-position">
                            <img (click)="toggleShow()" class="close-icon" src="../../../assets/images/close.png">
                            <h3 >Gabrial Ulloa</h3>
                            <div>
                                <a class="education-link">M.A.,</a>
                                <a class="education-link">BCBA.,</a>
                                <a class="education-link">QBA</a>
                            </div>
                            <h5 class="pt-3">Director of Product Development</h5>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="row team-list mt-5">
            <div class="col-md-6 mt-5 d-flex justify-content-start">
                <div class="teammate-image ">
                    <img class="student-image" src="../../../assets/images/girl-with-book.png" />
                    <img class="sticky-mark" src="../../../assets/images/Vector.png" />
                </div>
            </div>
            <div class="col-md-6 mt-5 team-section-header">
                <div class="d-flex flex-row align-items-center">
                    <h2>Layla Sump</h2>
                    <h4 class="mx-2">Ph.D., BCBA-D, LBA(Layla Abby)</h4>
                </div>
                <h3 class="my-3">Co-Founder</h3>
                <p>Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremt Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                  </p>
            </div>
        </div>
        <div class="row team-list mt-5">
            <div class="col-md-6 mt-5 team-section-header">
                <div class="d-flex flex-row align-items-center">
                    <h2>Layla Sump</h2>
                    <h4 class="mx-2">Ph.D., BCBA-D, LBA(Layla Abby)</h4>
                </div>
                <h3 class="my-3">Co-Founder</h3>
                <p>Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremt Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                  </p>
            </div>
            <div class="col-md-6 mt-5 d-flex justify-content-end">
                <div class="teammate-image ">
                    <img class="student-image" src="../../../assets/images/girl-with-book.png" />
                    <img class="sticky-mark" src="../../../assets/images/Vector.png" />
                </div>
            </div>
        </div>
        <app-latest-job-content></app-latest-job-content>
    </div>
    <app-clinical-software></app-clinical-software>
</div>