<div class="content">
    <div class="container">

        <div class="row text-center section1-header">
            <h1>Team <span class="section1-header-content">Members</span></h1>
            <p class="pt-3">Meet our talented and unique team members!</p>
        </div>
        <!-- <div class="row">
            <img src="../../../assets/images/businesspeople.png" />
        </div> -->
        <div class="row team-list mt-5">
            <div class="col-md-6 mt-5 team-section-header">
                <div class="d-flex flex-row align-items-center">
                    <h2>Layla Sump</h2>
                    <h4 class="mx-2">Ph.D., BCBA-D, LBA(Layla Abby)</h4>
                </div>
                <h3 class="my-3">Co-Founder</h3>
                <p>Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremt
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem
                    ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple textLoremtLorem
                    ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                 
                </p>
                <button class="btn-primary" (click)="loadpage()">read more</button>
            </div>
            <div class="col-md-6 mt-5 d-flex justify-content-end">
                <div class="teammate-image ">
                    <img class="student-image" src="../../../assets/images/lela.jpg" />
                    <!-- <img class="sticky-mark" src="../../../assets/images/Vector.png" /> -->
                    <div class="student-position" [hidden]="!isShow" (click)="toggleShow()">
                        <!-- <h3>Publications</h3> -->
                        <!-- <img class="forward-arrow" src="../../../assets/images/noun-arrow-37677.png" /> -->
                    </div>
                    <div class="student-position" [hidden]="isShow">
                        <div class="expand-student-position">
                            <img (click)="toggleShow()" class="close-icon" src="../../../assets/images/close.png">
                            <h3>Gabrial Ulloa</h3>
                            <div>
                                <a class="education-link">M.A.,</a>
                                <a class="education-link">BCBA.,</a>
                                <a class="education-link">QBA</a>
                            </div>
                            <h5 class="pt-3">Director of Product Development</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row team-list mt-5">
            <div class="col-md-6 mt-5 d-flex justify-content-start">
                <div class="teammate-image ">
                    <img class="student-image" src="../../../assets/images/girl-with-book.png" />
                    <!-- <img class="sticky-mark" src="../../../assets/images/Vector.png" /> -->
                </div>
            </div>
            <div class="col-md-6 mt-5 team-section-header">
                <div class="d-flex flex-row align-items-center">
                    <h2>Layla Sump</h2>
                    <h4 class="mx-2">Ph.D., BCBA-D, LBA(Layla Abby)</h4>
                </div>
                <h3 class="my-3">Co-Founder</h3>
                <p>
                    Mariana Chernicharo Guimaraes is a doctoral student in Applied Behavior Analysis (ABA) at the
                    Western New England University. She completed her undergraduate degree at Pontifical Catholic
                    University of Minas Gerais in 2007, and she received her master’s degree in Experimental Psychology:
                    Behavior Analysis at the Pontifical Catholic University of São Paulo in 2010.
                </p>
                <p class="mt-3">Mariana has 15 years of experience working with autistic children. Throughout her
                    clinical
                    experience, Mariana worked at the Applied Behavioral Learning Services (ABLS) and at the New England
                    Center for Children (NECC) delivering ABA treatment for autistic children across several settings
                    including in-home, center-based and school. Mariana’s main interests are in early intervention,
                    development of prerequisite and verbal repertoires in children with autism spectrum disorder (ASD),
                    and functional behavior assessment. Additionally, Mariana has five years of experience working as a
                    professor teaching several courses in ABA and ASD in undergraduate and post-graduate specialization
                    programs in Brazil.</p>
                <p class="mt-3">Mariana’s current roll includes providing clinical consultation for ABA service
                    providers,
                    supervision for individuals seeking behavior analytic credentials, developing and delivering
                    clinical training, and building internal systems. </p>
            </div>
        </div>
        <div class="row team-list mt-5">
            <div class="col-md-6 mt-5 team-section-header">
                <div class="d-flex flex-row align-items-center">
                    <h2>Layla Sump</h2>
                    <h4 class="mx-2">Ph.D., BCBA-D, LBA(Layla Abby)</h4>
                </div>
                <h3 class="my-3">Co-Founder</h3>
                <p>Gabriella Ulloa is a board-certified behavior analyst with nine years of experience in the field.
                    Gabriella was born and raised in Miami, FL and is of Salvadoran and Peruvian descent. She obtained a
                    bachelor’s degree in psychology from the University of Florida in 2013, and a master’s degree in
                    human services psychology with an emphasis in applied behavior analysis from the University of
                    Maryland, Baltimore County in 2016. While she lived in Maryland, she completed her practicum at the
                    Kennedy Krieger Institute, a Johns Hopkins Hospital affiliate, where she gained experience in the
                    assessment and treatment of severe problem behavior as well as severe feeding disorders.
                </p>
                <p class="mt-3">Following her graduation, she worked as a clinical supervisor for Trumpet Behavioral
                    Health (TBH) in Southern California. At TBH, she gained experience in early intervention and skill
                    acquisition for individuals with autism and other developmental disabilities. In August of 2018,
                    Gabriella moved to Costa Rica and began working toward raising local awareness of evidence-based
                    treatment for autism and other developmental disabilities. Additionally, she provided supervision to
                    aspiring behavior analysts in Latin America. In January of 2021, she moved to Panama City, Panama.
                </p>
                <p class="mt-3">Gabriella’s recent experiences have made her a passionate advocate for the ethical
                    dissemination of sound behavior analytic therapy. DAXTA’s mission to globally elevate accessibility
                    and quality of behavior analytic treatment falls directly in line with Gabriella’s values and
                    interests to disseminate behavior analysis internationally. Gabriella’s current responsibilities
                    include the management of software development, development of clinical tools, as well as providing
                    behavior analytic supervision and consultation to clinical service providers.</p>
            </div>
            <div class="col-md-6 mt-5 d-flex justify-content-end">
                <div class="teammate-image ">
                    <img class="student-image" src="../../../assets/images/Gabriella .png" />
                    <!-- <img class="sticky-mark" src="../../../assets/images/Vector.png" /> -->
                </div>
            </div>
        </div>
        <app-latest-job-content></app-latest-job-content>
    </div>
    <app-clinical-software></app-clinical-software>
</div>