<div class="clinical-soft">
    <div class="d-flex flex-row align-items-center clinical-soft-main">
        <div class="last-content d-flex align-items-center">
            <div class="last-content-div">
                <h2>{{'CLINICALSOFTWARE.CLINICALHEADER'| translate}}</h2>
                <ul><p>{{'CLINICALSOFTWARE.CLINICALCONTENT1' | translate}}</p>
                 
                    <li>{{'CLINICALSOFTWARE.CLINICALCONTENT2' | translate}}</li>
                    <li>{{'CLINICALSOFTWARE.CLINICALCONTENT3' | translate}}</li>
                    <li>{{'CLINICALSOFTWARE.CLINICALCONTENT4' | translate}}</li>
                    <li>{{'CLINICALSOFTWARE.CLINICALCONTENT5' | translate}}</li>
                    <li>{{'CLINICALSOFTWARE.CLINICALCONTENT6' | translate}}</li>
                    <li>{{'CLINICALSOFTWARE.CLINICALCONTENT7' | translate}}</li>
                    <P> {{'CLINICALSOFTWARE.CLINICALCONTENT8' | translate}}</P>
                   
                </ul>
                <!-- <p class="pt-4 pb-4">Increase your capacity and quality of work
                   
                    Implement any procedure, collect any data… online or offline, automatically transition targets, summarize and analyze your data in any way! 
                    </p> -->
                <button type="button" class="btn secondary-button" (click)="gotocontactus()">{{'BUTTONS.SCHEDULEDEMO'| translate}}</button>
                <button type="button" class="btn secondary-button more-info-button" (click)="gotosoftware()">{{'BUTTONS.MOREINFO'| translate}}</button>
            </div>
        </div>
        <div class="tablet-image">
            <img width="100%" src="../../../../assets/images/Ipad.png"/>
        </div>
    </div>
</div>