<div class="clinical-soft">
    <div class="d-flex flex-row align-items-center clinical-soft-main">
        <div class="last-content d-flex align-items-center">
            <div class="last-content-div">
                <h2>DAXTA Clinical Software</h2>
                <p class="pt-4 pb-4">
                    Increase your capacity and quality of work!!<br>

                    Implement any procedure, collect any data… online or offline, automatically transition targets, summarize and analyze your data in any way! 
                    </p>
                <button type="button" class="btn secondary-button" (click)="gotocontactus()">Schedule Demo</button>
                <button type="button" class="btn secondary-button more-info-button" (click)="gotosoftware()">More Information</button>
            </div>
        </div>
        <div class="tablet-image">
            <img width="100%" src="../../../../assets/images/iPad.png" />
        </div>
    </div>
</div>