<!-- <div class="clinical-soft container">
    <div class="row align-items-center clinical-soft-main mx-0">
        <div class="last-content col-md-7 py-4 px-3">
            <div class="row">
                
                <div class="last-content-div col-md-9">
                    <h2  class=" header-clinic mb-2" (click)="gotosoftware()">DAXTA Clinical Software</h2>
                    <ul>
                        Increase your efficiency and quality of work by:
                        <li>Implementing any skill acquisition or behavior reduction procedure</li>
                        <li>Using any type of measurement system</li>
                        <li>Collecting data online or offline</li>
                        <li>Automatically transitioning targets</li>
                        <li>Summarizing and analyzing your data in any way</li>
                        <li>Saving protocols to the curriculum bank</li>
                      
                    </ul>
                    <button type="button" class="btn secondary-button mb-2" (click)="gotocontactus()">Contact us</button>
                    <button type="button" class="btn secondary-button more-info-button mb-2" (click)="gotosoftware()">More Information</button>
                </div>
            </div>
        </div>
        <div class="tablet-image col-md-5" style="padding-left: 0px;">
            <img width="100%" src="../../../../assets/images/iPad...png" />
        </div>
    </div>
</div> -->