.app-container{
    // min-height: calc(100vh - 150px) !important;
    margin-top: 130px;
}

//<--------------//MEDIA_QUERIES----------------------------------------------->>

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 768px) {
    .app-container{
        margin-top: 72px;
    }
}
@media only screen and (max-width: 575px) {
    .app-container{
        margin-top: 54px;
    }
}
