<div class="footer">
    <div class="container">
        <div class="col-xl-10 mx-auto px-0">
            <div class="row">
                <div class="col-md-3">
                    <img class="logo" src="../../../assets/images/logo.png">
                    <p class="pt-4 pb-4">{{'FOOTER.FOOTERCONTENT' | translate}} </p>
                    <div class="social-icons d-flex flex-row">
                        <a href="{{'FOOTER.FACEBOOKLINK' | translate}}" target="_blank"><img class="icon-size"
                                src="../../../assets/icon/Facebook.svg"></a>
                        <a href="{{'FOOTER.INSTAGRAMLINK' | translate}}" target="_blank"><img class="icon-size"
                                src="../../../assets/icon/instagram.svg"></a>
                        <a href="https://www.linkedin.com/company/daxta/ " target="_blank"><img class="icon-size"
                                src="../../../assets/icon/_x31_0.Linkedin.svg"></a>
                    </div>
                </div>
                <div class="col-md-3 d-md-flex  flex-md-column footer_about"  >
                    <div >
                        <h5 routerLink="/about" class="mb-2">{{'HEADER.ABOUTUS' |
                            translate}}</h5>
                    </div>
                    
                    <ul>
                        <li>
                            <a routerLink="/ourservice">{{'HEADER.OURSERVICES' | translate}}</a>
                        </li>
                        <li>
                            <a routerLink="/software">{{'HEADER.SOFTWARE' | translate}}</a>
                        </li>
                        <!-- <li>
                            <a routerLink="/courses">{{'HEADER.COURSES' | translate}}</a>
                        </li> -->
                        <!-- <li>
                            <a routerLink="/blog">Blog</a>
                        </li> -->
                        <li>
                            <a routerLink="/contactus">{{'HEADER.CONTACTUS' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 d-md-flex align-items-md-start flex-md-column">
                    <h5>{{'HEADER.COMPANY' | translate}}</h5>
                    <ul>
                        <li style="    margin-top: 8px;">
                            <a routerLink="/terms-of-use">{{'HEADER.TERMOFUSE' | translate}}</a>
                        </li>
                        <li>
                            <a routerLink="/privacy-policy">{{'HEADER.PRIVACYPOLICY' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 routerLink="/contactus">{{'HEADER.CONTACTUS' | translate}}</h5>
                    <p class="mt-2">{{'FOOTER.CONTACTCONTENT' | translate}}</p>
                    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                        <div class="d-flex flex-row justify-content-between mt-5">
                          
                            <div class="form-group">
                                <!-- <label>Email</label> -->
                                <input formControlName="email" id="name" type="email"
                                    class="form-control form-input-class" placeholder="Email Address">
                          
                                    <div *ngIf="submitted && f.email.errors">
                                        <div *ngIf="f.email.errors.required" class="error">{{'FORM.EMAILERROR' | translate}}</div>
                                        <div *ngIf="f.email.errors.email" class="error">{{'FORM.EMAILERROR2' | translate}}</div>
                                    </div>
                                    
                         
                            </div>
                            <div>
                                <button type="submit" class="btn primary-button subscribe-button">{{'BUTTONS.SUB' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row text-center copyright">
            <p> © 2021 Copyright | DAXTA</p>
        </div>
       

    </div>
</div>