<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="logo" src="../../../assets/images/logo.png">
                <p class="pt-4 pb-4">Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit, sed do<br>eiusmod
                    tempor</p>
                <div class="social-icons d-flex flex-row">
                    <img class="icon-size" src="../../../assets/icon/Facebook.svg">
                    <img class="icon-size" src="../../../assets/icon/instagram.svg">
                    <img class="icon-size" src="../../../assets/icon/_x31_0.Linkedin.svg">
                </div>
            </div>
            <div class="col-md-3">
                <h5>About Us</h5>
                <ul>
                    <li>
                        <a routerLink="/ourservice">Our Services</a>
                    </li>
                    <li>
                        <a routerLink="/software">Software</a>
                    </li>
                    <li>
                        <a routerLink="/courses">Courses</a>
                    </li>
                    <!-- <li>
                        <a routerLink="/blog">Blog</a>
                    </li> -->
                    <li>
                        <a routerLink="/contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Company</h5>
                <ul>
                    <li>
                        <a routerLink="/terms-of-use">Terms Of Use</a>
                    </li>
                    <li>
                        <a routerLink="/privacy-policy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5> Contact Us</h5>
                <p class="mt-4">Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit, sed do eiusmod tempor</p>
                <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-input-class" id="company"
                            placeholder="Enter Your Email Id">
                    </div>
                    <div>
                        <button class="btn primary-button subscribe-button" type="button">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center copyright">
            <p> © 2021 Copyright | DAXTA</p>
        </div>
    </div>
</div>