.footer {
  background-color: var(--primary-color);
  padding-top: 50px;
  .logo{
    width: auto;
    height: 50px;
  }
  .subscribe-button{
    padding: 13px;
    border-radius: 5px !important;
    width: auto !important;
        font-size: 15px !important;
    font-weight: 500;
    margin-left: 7px;

  }
  .subscribe-button:hover{
    background: transparent !important;
  }
  h5{
    color: var(--white-color) !important;
    font-weight:600;
  }
  p {
    color: var(--white-color) !important;
    
  }
  h5:hover{
    // color: var(--secondary-color) !important;
    cursor: pointer;
  }
  ul {
    padding: 0px;
    li {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      a{
        text-decoration: none;
      }
    }
  }
  a {
    color: var(--white-color) !important;
    cursor: pointer;
  }
  a:hover{
    color: var(--secondary-color) !important;
  }
  .copyright {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .social-icons {
    .icon-size {
      height: 20px;
      width: 20px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
  .form-input-class{
    border-radius: 5px !important;
  }
}

.error{
  color: red;
}

.footer_about{
padding-left: 100px;
}
//<--------------//MEDIA_QUERIES----------------------------------------------->>

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
  .logo {
    height: auto !important;
    width: 150px !important;
  }
}
@media only screen and (max-width: 991px) {
  .logo {
    height: auto !important;
    width: 150px !important;
  }
}
@media only screen and (max-width: 768px) {
  .logo {
    height: auto !important;
    width: 150px !important;
  }
  .footer_about{
    padding-left: 10px;
    margin-top: 20px;
    }
}
@media only screen and (max-width: 575px) {
  h5 {
    margin-top: 40px !important;
  }
  .footer_about{
    padding-left: 10px;
    }
}
