.mainclass{
    min-height: 100vh;
}
h4{
    color: #0A2360;
    font-size: 55px;
    font-weight: 700;
}
.background{
    background-color: #FDFBFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.text{
    color: #0A2360;
    font-size: 31px;
    font-weight: 700;
    font-family: 'Quicksand-Bold';
}
.text1{
    color: #0A2360;
}