<div class="content">
    <div class="container">
        <div class="row text-center section1-header">
            <h1>Terms of Use</h1>
            <p class="pt-3">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
        </div>
        <div class="row news-artical-shadow mx-5 mt-3">
            <div class="col-md-12 pt-3">
                <div class="row">
                    <h3>Introduction</h3>
                    <p>Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                        Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
                    <br />
                    <p class="pt-3">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple
                        text
                        Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
                </div>
            </div>
            <div class="col-md-12 pt-3">
                <div class="row">
                    <h3>Using Our Services</h3>
                    <p>Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                        Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
                    <br />
                    <p class="pt-3">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple
                        text
                        Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
                </div>
            </div>
            <div class="col-md-12 pt-3">
                <div class="row">
                    <h3>Using Our Services</h3>
                    <p>Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                        Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
                    <br />
                    <p class="pt-3">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple
                        text
                        Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
                </div>
            </div>
            <div class="col-md-12 pt-3">
                <div class="row">
                    <h3>Using Our Services</h3>
                    <p>Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                        Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
                    <br />
                    <p class="pt-3">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple
                        text
                        Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
                </div>
            </div>
            <div class="col-md-12 pt-3">
                <div class="row">
                    <h3>Using Our Services</h3>
                    <p>Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                        Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
                    <br />
                    <p class="pt-3">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple
                        text
                        Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
                </div>
            </div>
        </div>
    </div>
</div>