<!-- <div class="content">
  <div class="container">
   
    <div class="row">
      <div class="col-md-4 mt-4">
        <div class="card news-artical-shadow">
          <img class="news-image" src="../../../assets/images/disabled-child.png" class="card-img-top" alt="...">
          <div class="news-date">
            <span>July 15</span>
            <img src="../../../assets/images/Rectangle_.png" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mt-3">Do millennials care about saving ?</h5>
            <p class="card-text mt-2 mb-5">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button (click)="goToDetails()" type="button" class="btn primary-button read-more-button">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="card news-artical-shadow">
          <img class="news-image" src="../../../assets/images/disabled-child.png" class="card-img-top" alt="...">
          <div class="news-date">
            <span>July 15</span>
            <img src="../../../assets/images/Rectangle_.png" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mt-3">Do millennials care about saving ?</h5>
            <p class="card-text mt-2 mb-5">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button (click)="goToDetails()" type="button" class="btn primary-button read-more-button">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="card news-artical-shadow">
          <img class="news-image" src="../../../assets/images/disabled-child.png" class="card-img-top" alt="...">
          <div class="news-date">
            <span>July 15</span>
            <img src="../../../assets/images/Rectangle_.png" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mt-3">Do millennials care about saving ?</h5>
            <p class="card-text mt-2 mb-5">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button (click)="goToDetails()" type="button" class="btn primary-button read-more-button">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="card news-artical-shadow">
          <img class="news-image" src="../../../assets/images/disabled-child.png" class="card-img-top" alt="...">
          <div class="news-date">
            <span>July 15</span>
            <img src="../../../assets/images/Rectangle_.png" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mt-3">Do millennials care about saving ?</h5>
            <p class="card-text mt-2 mb-5">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button (click)="goToDetails()" type="button" class="btn primary-button read-more-button">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="card news-artical-shadow">
          <img class="news-image" src="../../../assets/images/disabled-child.png" class="card-img-top" alt="...">
          <div class="news-date">
            <span>July 15</span>
            <img src="../../../assets/images/Rectangle_.png" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mt-3">Do millennials care about saving ?</h5>
            <p class="card-text mt-2 mb-5">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button (click)="goToDetails()" type="button" class="btn primary-button read-more-button">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="card news-artical-shadow">
          <img class="news-image" src="../../../assets/images/disabled-child.png" class="card-img-top" alt="...">
          <div class="news-date">
            <span>July 15</span>
            <img src="../../../assets/images/Rectangle_.png" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mt-3">Do millennials care about saving ?</h5>
            <p class="card-text mt-2 mb-5">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button (click)="goToDetails()" type="button" class="btn primary-button read-more-button">Read More</button>
          </div>
        </div>
      </div>  <div class="col-md-4 mt-4">
        <div class="card news-artical-shadow">
          <img class="news-image" src="../../../assets/images/disabled-child.png" class="card-img-top" alt="...">
          <div class="news-date">
            <span>July 15</span>
            <img src="../../../assets/images/Rectangle_.png" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mt-3">Do millennials care about saving ?</h5>
            <p class="card-text mt-2 mb-5">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button (click)="goToDetails()" type="button" class="btn primary-button read-more-button">Read More</button>
          </div>
        </div>
      </div>  <div class="col-md-4 mt-4">
        <div class="card news-artical-shadow">
          <img class="news-image" src="../../../assets/images/disabled-child.png" class="card-img-top" alt="...">
          <div class="news-date">
            <span>July 15</span>
            <img src="../../../assets/images/Rectangle_.png" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mt-3">Do millennials care about saving ?</h5>
            <p class="card-text mt-2 mb-5">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button (click)="goToDetails()" type="button" class="btn primary-button read-more-button">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-clinical-software></app-clinical-software>
</div> -->

<div class="row text-center section1-header">
  <h1>{{'BLOGPAGE.NEWS' | translate}} <span class="section1-header-content">Articles</span></h1>
  <p class="pt-3">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
    Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
</div>