.read-more-button{
    border-radius: 5px !important;
    padding: 10px 25px !important;
}

.news-image{
    position: relative;
}

.news-date{
    position: absolute;
    top: 15px;
    left: 15px;
    img{
        position: relative;
    }
    span{
        position: absolute;
        transform: translate(35%, 30%);
        color: var(--white-color);
        z-index: 1;
    }
}