.card-title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Quicksand-Bold';
    color: var(--primary-color);
}

  .btn {
    background-color: #ea1b64;
    color: #fff;
    padding: 10px 40px 10px 40px;
    border: 1px solid #ea1b64;
    margin-left: 40px;
  }

.form {
    position: relative
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;
}
.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px
}

.card-img-top{
  width: 100%;
}
.header-contant {
  color: var(--secondary-color) !important;
  font-family: 'Quicksand-Bold';
}
h1{
  font-family: 'Quicksand-Bold';
}

.card1 .card-body{
  min-height: 300px;
 
}


.card2.card-body{
  min-height: 200px;
}

.card{
  border: 0px !important;
  box-shadow: rgba(0, 0, 0, 6%) 0px 2px 48px;
}