.section1 {
    position: relative;
    .home-header {
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }
    .contact-us-button {
        // margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .section1-image {
        position: absolute;
        top: 0px;
        right: 0px;
        .home-section1 {
            max-width: 700px;
        }
    }
    .our-service-button {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.section2 {
    margin-top: 50px;
    .clinical-ser-div {
        margin-top: 100px;
        .clinical-ser-cont {
            width: 80%;
        }
    }
    .primary-button {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

.section3 {
    margin-top: 100px;
    position: relative;
    .grp22-img {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0%, 50%);
        z-index: -1;
    }
    .swimmers-image {
        width: 100%;
    }
    .sport-image {
        width: 100%;
        padding-top: 230px;
    }
    .ace-image {
        width: auto;
        height: 100%;
        padding-top: 100px;
    }
    .courses-div {
        width: 80%;
    }
    .card-even {
        padding-left: 100px;
    }
    .card-odd {
        padding-right: 100px;
    }
    .all-courses-btn{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    h6{
        font-family: "Quicksand-Bold" !important;
    }
}

.clinical-services-card {
    border-radius: 20px;
    border: none;
}

//<--------------//MEDIA_QUERIES----------------------------------------------->>

@media only screen and (max-width: 1440px) {
    .home-header {
        min-height: 400px !important;
    }
    .home-section1 {
        max-width: 500px !important;
    }
}
@media only screen and (max-width: 1199px) {
    .home-header {
        min-height: 400px !important;
    }
    .home-section1 {
        max-width: 500px !important;
    }
}
@media only screen and (max-width: 1024px) {
    .home-header {
        min-height: 500px !important;
    }
    .home-section1 {
        max-width: 500px !important;
    }
}
@media only screen and (max-width: 991px) {
    .home-header {
        min-height: 400px !important;
    }
    .home-section1 {
        max-width: 400px !important;
    }
}
@media only screen and (max-width: 768px) {
    .home-header {
        min-height: 500px !important;
    }
    .home-section1 {
        max-width: 350px !important;
    }
    .card-even {
        padding-left: 0px !important;
    }
    .card-odd {
        padding-right: 0px !important;
    }
}
@media only screen and (max-width: 575px) {
    .home-header {
        min-height: 700px !important;
        width: 100% !important;
    }
    .home-section1 {
        max-width: 180px !important;
    }
    .section2 {
        margin-top: 0px !important;
        .clinical-ser-cont {
            width: 100% !important;
        }
        .clinical-ser-div{
            margin-top: 0px !important;
        }
    }
    .section3 {
        .courses-div {
            width: 100% !important;
        }
    }
    .card-even {
        padding-left: 0px !important;
    }
    .card-odd {
        padding-right: 0px !important;
    }
}
