.section1 {
    position: relative;
    .home-header {
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }
    .contact-us-button {
        // margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .section1-image {
        position: absolute;
        top: 0px;
        right: 0px;
        .home-section1 {
            max-width: 700px;
        }
    }
    .our-service-button {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.section2 {
    margin-top: 80px;
    .clinical-ser-div {
        margin-top: 100px;
        .clinical-ser-cont {
            width: 80%;
        }
        .contactusbtn{
            margin-left: 15px;
            // margin-right: 15px;
        }
    }
    .primary-button {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .card-text{
    	color: rgba(10,35,96,0.5);
    }
    .card-title{font-weight:600;
    cursor: pointer;}
}

.section3 {
    margin-top: 100px;
    position: relative;
    .grp22-img {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0%, 50%);
        z-index: -1;
    }
    .swimmers-image {
        width: 100%;
    }
    .sport-image {
        width: 100%;
        padding-top: 230px;
    }
    .ace-image {
        width: auto;
        height: 100%;
        padding-top: 30px;
    }
    .courses-div {
        width: 80%;
    }
    .card-even {
        padding-left: 100px;
    }
    .card-odd {
        padding-right: 100px;
    }
    .all-courses-btn{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    h6{
        font-family: "Quicksand-Bold" !important;
    }
}

.header-clinic{
    cursor: pointer;
}
.clinical-services-card {
    border-radius: 20px;
    border: none;
}

.icon-1{
    
    background-image: url('../../../assets/images/OUTLINE.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.icon-1:hover{
    background-image: url('../../../assets/images/4blue.svg') ;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}


.icon-2{
    background-image: url('../../../assets/images/noun_supervised_3507969.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.icon-2:hover{
    background-image: url('../../../assets/images/2blue.svg') ;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}


.icon-3{
    background-image: url('../../../assets/images/conversation.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.icon-3:hover{
    background-image: url('../../../assets/images/1blue.svg') ;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.icon-4{
    background-image: url('../../../assets/images/noun_training_1422944.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.icon-4:hover{
    background-image: url('../../../assets/images/3blue.svg') ;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

a{
    text-decoration: none;
}

h5:hover{
    color: var(--secondary-color);
}

.daxta-card-body.card-body{
justify-content: space-between;
padding-top:0px ;
}


//<--------------//MEDIA_QUERIES----------------------------------------------->>


@media only screen and (max-width: 320px) {
    .logo-image{
        width: 60% !important;
    }
    .aec{
        justify-content: center;
        display: flex;
    }
    .home-header {
        margin-top: 80px;
    }
    .section1-image {
        position: absolute;
        top: 0px;
        right: -20px !important;
        // .home-section1 {
        //     max-width: 700px;
        // }
    }
    }

@media only screen and (max-width: 1440px) {
    .home-header {
        min-height: 600px !important;
    }
    .home-section1 {
        max-width: 500px !important;
    }
}
@media only screen and (max-width: 1199px) {
    .home-header {
        min-height: 600px !important;
    }
    .home-section1 {
        max-width: 500px !important;
    }
}
@media only screen and (max-width: 1024px) {
    .home-header {
        min-height: 600px !important;
    }
    .home-section1 {
        max-width: 500px !important;
    }
}
@media only screen and (max-width: 991px) {
    .home-header {
        min-height: 400px !important;
    }
    .home-section1 {
        max-width: 400px !important;
    }
    
}
@media only screen and (max-width: 768px) {
    .home-header {
        min-height: 700px !important;
        // width: 100% !important;
    }
    .home-section1 {
        max-width: 250px !important;
    }
    .card-even {
        padding-left: 0px !important;
    }
    .card-odd {
        padding-right: 0px !important;
    }
}
@media only screen and (max-width: 575px) {
    .home-header {
        min-height: 700px !important;
        width: 100% !important;
        margin-top: 60px;
    }
    .home-section1 {
        max-width: 180px !important;

    }
    .section2 {
        margin-top: 0px !important;
        .clinical-ser-cont {
            width: 100% !important;
        }
        .clinical-ser-div{
            margin-top: 0px !important;
        }
    }
    .section3 {
        .courses-div {
            width: 100% !important;
        }
    }
    .card-even {
        padding-left: 0px !important;
    }
    .card-odd {
        padding-right: 0px !important;
    }
    .logo-image{
        width: 60% !important;
        margin: 10px;
    }
    .aec{
        justify-content: center;
        display: flex;
    }
}

@media only screen and (max-width: 355px) {
    .section2 .clinical-ser-div .contactusbtn {
        margin-left: 0px !important;
        margin-top: 15px !important;
    }
}


.logo-image{
    width: 100%;
}