<div class="content">
    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 mt-5">
                    <div class="home-header">
                        <h1>{{'HOMEPAGE.HOMESECTION1' | translate}}</h1>
                        <p class="pt-3 pb-3"> {{'HOMEPAGE.HOMESECTION2' | translate}}
                        </p>
                        <div>
                            <!-- <button type="button" class="btn primary-button our-service-button">Our Services</button> -->
                            <button type="button" class="btn primary-button contact-us-button"
                                (click)="gotocontactus()">{{'BUTTONS.CONTECTUS' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section1-image">
            <img class="home-section1" src="../../../assets/images/home_section1.png" />
        </div>
    </div>
    <div class="section2">
        <div class="container">
            <div class="row">
                <div class="col-md-5 clinical-ser-div">
                    <a href="https://tudoaba.daxta.com/" target="_blank"> <img src="../../../assets/images/todoABA.png"
                            style="width: 100%;"></a>
                </div>
                <div class="col-md-6 clinical-ser-div">
                    <div>
                        <a href="https://tudoaba.daxta.com/" target="_blank" style="border: 0px;">
                            <h2>{{'HOMEPAGE.PODCAST' | translate}}</h2>
                        </a>
                        <p class="pt-3 pb-3 clinical-ser-cont">{{'HOMEPAGE.PODCASTCONTENT' | translate}}</p>
                        <p class="pb-3 clinical-ser-cont">{{'HOMEPAGE.PODCASTCONTENT1' | translate}}</p>
                    </div>
                    <div class=" d-flex flex-row">
                        <div class="m-3">
                            <a href="https://open.spotify.com/show/3nx2cpeVVqCfo2X8VKKawj" target="_blank"><i
                                    class="fa fa-brands fa-spotify fa-2x" style="color: #1ed760;"></i></a>
                        </div>
                        <div class="m-3">
                            <a href="https://podcasts.apple.com/us/podcast/tudo-aba/id1613277109" target="_blank"><img
                                    style="height: 30px; width: 30px;" src="../../../assets/icon/APPLE podcast.png"></a>
                        </div>
                        <div class="m-3">
                            <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5idXp6c3Byb3V0LmNvbS8xOTUyNDAyLnJzcw?sa=X&ved=0CAIQ9sEGahcKEwjgsomh6Lv2AhUAAAAAHQAAAAAQOg"
                                target="_blank"><img style="height: 30px; width: 30px;"
                                    src="../../../assets/icon/Google Podcast.png"></a>
                        </div>
                        <div class="m-3">
                            <!-- <i class="fa fa-brands fa-youtube-play fa-2x" style="color:#e60000;"></i> -->
                        </div>

                    </div>
                    <iframe
                        src="https://www.buzzsprout.com/1952402/10243044-supervisao-de-caso-e-de-equipe-e-avaliacao-da-supervisao?client_source=small_player&iframe=true&referrer=https%3A%2F%2Fwww.buzzsprout.com%2F1952402.js%3Fcontainer_id%3Dbuzzsprout-small-player%26player%3Dsmall"
                        loading="lazy" width="100%" height="200" frameborder="0" scrolling="no"
                        title="Tudo ABA, Supervisão de Caso e de Equipe e Avaliação da Supervisão\"></iframe>
                </div>


            </div>


            <div class="row" style="margin-top: 80px;">
                <div class="col-md-6 clinical-ser-div">
                    <h2 class="header-clinic" (click)="gotoourservice()">{{'HOMEPAGE.CLINICALSERVICE' | translate}}</h2>
                    <p class="pt-3 pb-3 clinical-ser-cont">{{'HOMEPAGE.CLINICALCONTENT' | translate}}</p>
                    <div>
                        <button type="button" class="btn primary-button" (click)="gotoourservice()">{{'BUTTONS.MOREINFO'
                            | translate}}</button>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="card clinical-services-card shadowElement mt-4">
                                <div class="card-body">

                                    <div class="icon-1" (click)="gotoourservice()">

                                    </div>
                                    <div class="effect mb-2">
                                        <h5 class="card-title pt-3 pb-3" (click)="gotoourservice()">
                                            {{'HOMEPAGE.CLINICALCARD' | translate}}</h5>
                                        <p class="card-text">{{'HOMEPAGE.CARDCONTENT' | translate}}</p>
                                    </div>
                                    <!-- <img src="../../../assets/icon/OUTLINE.png" class="icon-img" /> -->

                                </div>
                            </div>
                            <div class="card clinical-services-card shadowElement mt-4">
                                <div class="card-body">
                                    <div class="icon-2" (click)="gotoourservice()">

                                    </div>
                                    <div class="effect mb-2">
                                        <h5 class="card-title pt-3 pb-3" (click)="gotoourservice()">
                                            {{'HOMEPAGE.CLINICALCARD2' | translate}}</h5>
                                        <p class="card-text">{{'HOMEPAGE.CARDCONTENT2' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 col-lg-6 mt-5">

                            <div class="card clinical-services-card shadowElement mt-4">
                                <div class="card-body">
                                    <div class="icon-3" (click)="gotoourservice()">

                                    </div>
                                    <div class="effect mb-2">
                                        <h5 class="card-title pt-3 pb-3" (click)="gotoourservice()">
                                            {{'HOMEPAGE.CLINICALCARD1' | translate}}</h5>
                                        <p class="card-text">{{'HOMEPAGE.CARDCONTENT1' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card clinical-services-card shadowElement mt-4">
                                <div class="card-body">
                                    <div class="icon-4" (click)="gotoourservice()">

                                    </div>
                                    <div class="effect mb-2">
                                        <h5 class="card-title pt-3 pb-3" (click)="gotoourservice()">
                                            {{'HOMEPAGE.CLINICALCARD3' | translate}}</h5>
                                        <p class="card-text">{{'HOMEPAGE.CARDCONTENT3' | translate}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="section3divHide" class="section3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="courses-div">
                        <div class="row">
                            <a href="https://courses.daxta.com/" target="_blank">
                                <h2 class="header-clinic">{{'HEADER.COURSES' | translate}}</h2>
                            </a>
                            <p class="pt-3 pb-3">{{'HOMEPAGE.COURSESCONTENT' | translate}}
                            </p>
                        </div>
                        <div class="row" style="margin-top: 100px;">

                            <!-- <img class="swimmers-image" src="../../../assets/images/group-of-swimmers.png" /> -->
                            <div class="col-md-4 col-lg-4 aec">
                                <img src="../../../assets/images/ACE.svg" class="logo-image">
                            </div>
                            <div class="col-md-4 col-lg-4 aec">
                                <img src="../../../assets/images/QABA-PREAPPROVED CEU-PROVIDER LOGO 2017.png"
                                    class="logo-image">
                            </div>



                            <!-- <div class="col-md-12 col-lg-6"> -->
                            <!-- <img class="sport-image" src="../../../assets/images/going-sport.png" /> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <div class="card-even">
                                <a href="https://courses.daxta.com/" target="_blank">
                                    <div class="daxta-card card">
                                        <div class="daxta-card-body card-body">
                                            <div style="padding-right: 50px;">
                                                <!-- <div class="card-first-row mb-2">
                                                <img src="../../../assets/images/calendar-alt.png" />
                                                <p class="appo-time">29/07/2020 11AM to 15PM</p>
                                            </div> -->
                                                <h6 class="daxta-card-text card-text mb-2"> Tudo ABA Podcast: Três
                                                    Coisas Muito Importantes Para Considerar ao
                                                    Iniciar Intervenção Com Uma Criança Com Autismo</h6>
                                                <div class="card-third-row mb-2">
                                                    <i class="fa fa-solid fa-graduation-cap fa-2x"></i>
                                                    <!-- <i class="fa fa-brands fa-user  fa-2x" style="color: #ea1b64;"></i> -->
                                                    <!-- <img src="../../../assets/images/Mask_Little.png" /> -->
                                                    <p class="appo-time">Educação Continuada</p>
                                                </div>
                                            </div>
                                            <h5 class="mt-2">50 Reais</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="col-md-12 mt-4">
                            <div class="card-odd">
                                <a href="https://courses.daxta.com/" target="_blank">
                                    <div class="daxta-card card">
                                        <div class="daxta-card-body card-body">
                                            <div style="padding-right: 50px;">
                                                <!-- <div class="card-first-row  mb-2">
                                                <img src="../../../assets/images/calendar-alt.png" />
                                                <p class="appo-time">29/07/2020 11AM to 15PM</p>
                                            </div> -->
                                                <h6 class="daxta-card-text card-text mb-2"> Tudo ABA Podcast: Supervisão
                                                    de Caso e de Equipe e Avaliação da
                                                    Supervisão</h6>
                                                <div class="card-third-row mb-2">
                                                    <!-- <img src="../../../assets/images/Mask_Little.png" /> -->
                                                    <i class="fa fa-solid fa-graduation-cap fa-2x"></i>
                                                    <!-- <i class="fa fa-brands fa-user  fa-2x" style="color: #ea1b64;"></i> -->
                                                    <p class="appo-time"> Educação Continuada</p>
                                                </div>
                                            </div>
                                            <h5 class="mt-2">50 Reais</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12 mt-4">
                            <div class="card-even">
                                <a href="https://courses.daxta.com/" target="_blank">
                                    <div class="daxta-card card">
                                        <div class="daxta-card-body card-body">
                                            <div style="padding-right: 50px;">
                                                <!-- <div class="card-first-row  mb-2">
                                                <img src="../../../assets/images/calendar-alt.png" />
                                                <p class="appo-time">29/07/2020 11AM to 15PM</p>
                                            </div> -->
                                                <h6 class="daxta-card-text card-text mb-2">Tudo ABA Podcast: Treinamento de Equipe </h6>
                                                <div class="card-third-row mb-2">
                                                    <!-- <img src="../../../assets/images/Mask_Little.png" /> -->
                                                    <i class="fa fa-solid fa-graduation-cap fa-2x"></i>
                                                    <!-- <i class="fa fa-brands fa-user  fa-2x" style="color: #ea1b64;"></i> -->
                                                    <p class="appo-time"> Educação Continuada</p>
                                                </div>
                                            </div>
                                            <h5 class="mt-2">50 Reais</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <a href="https://courses.daxta.com/" target="_blank"> <button type="button"
                                class="btn all-courses-btn primary-button">{{'BUTTONS.ALLCOURSE' |
                                translate}}</button></a>
                    </div>
                </div>
            </div>
        </div>
        <img class="grp22-img" src="../../../assets/images/Group_22.png" />
    </div>


    <div class="section5">
        <app-clinical-software></app-clinical-software>
    </div>

    <div class="container">
        <div class="section4">
            <app-form></app-form>
        </div>
    </div>
</div>