<div class="mainclass">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12 col-lg-6 textarea">
                <p class="tagp text-uppercase fw">Lorem ipsum</p>
                <p class="tag-p f-55 fw">¨Globally elevating care for autism and other developmental disabilities¨
                </p>
                <p class="tag-p1 text-justify f-16 fw">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>

                <div class=" play-img mt-5">
                    <div class=" playstore">
                        <button type="button" class="service-btn f-18 mt-2 fw">Our Services</button>
                        <button type="button" class="contact-btn f-18 mt-2 fw">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clinic-back">
        <div class="container">
            <div class="row top">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <p class="card-head1 text-uppercase mt-5 fw">Lorem ipsum</p>
                    <p class="tag-p f-55 fw">Clinical Services</p>
                    <p class="tag-p1 f-16  text-justify fw">DAXTA can help your company increase quality and
                        efficiency in the
                        treatment
                        of autism and other developmental disabilities. At DAXTA, we provide support and
                        guidance to
                        service providers in areas related to system development and implementation to
                        evaluate and
                        increase quality of services, as well as build capacity for their staff.</p>
                    <div>
                        <button type="button" class="service-btn f-18 fw">More Information</button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class=" col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="card-style">
                                <div class="card card-grop1" style="margin-top: 50px;">
                                    <div class="card-body">
                                        <img src="../../../assets/images/executive.png">
                                        <h5 class="card-title3 fw">Executive Organization
                                            Consultation</h5>
                                        <p class="card-text3 text-justify fw">DAXTA provides remote consultation to
                                            autism
                                            service
                                            provides
                                            in areas related to company administration and operations. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-grop1">
                                <div class="card-body">
                                    <img src="../../../assets/images/supervised.png">
                                    <h5 class="card-title3 fw">Supervision </h5>
                                    <p class="card-text3 text-justify fw">At DAXTA we provide clinical support,
                                        supervision, and
                                        training for aspiring behavior analysts in the treatment of autism and
                                        other
                                        developmental disabilities. </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="card card-grop2" style="margin-top: 130px;">
                                <div class="card-body">
                                    <img src="../../../assets/images/clinical.png">
                                    <h5 class="card-title3 fw">Clinical Consultation </h5>
                                    <p class="card-text3 text-justify fw">DAXTA provides remote consultation to
                                        autism service
                                        providers
                                        in areas related to clinical services, training, supervision, system
                                        building,
                                        management, and operations</p>

                                </div>
                            </div>

                            <div class="card card-grop2">
                                <div class="card-body">
                                    <img src="../../../assets/images/training.png">
                                    <h5 class="card-title3 fw">personalized Training</h5>
                                    <p class="card-text3 text-justify fw">Information on hiring us to conduct
                                        personalized
                                        trainings for
                                        groups of professionals or for staff within specific clinic</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="backimg">
        <div class="container">
            <div class="row" style="margin-top: 100px;">
                <div class="col-12 col-md-12 col-lg-6">
                    <p class="card-head1 text-uppercase fw">Training</p>
                    <p class="tag-p f-55 fw">Courses</p>
                    <p class="tag-p1 text-justify f-16 fw">Lorem Ipsum is simply dummy text of the printing and
                        typesetting
                        industry.Sedut
                        perspiciatis unde
                        omnis iste natus error sit voluptatem
                    </p>

                    <div>
                        <div class="background-img">
                            <img src="../../../assets/images/courseimg.png" class="item-img">
                            <img src="../../assets/logo/Picture4.jpg" class="ACE">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6 card-horizontal">
                    <div class="card card-group m-5">
                        <div class="card-body">
                            <p class="fw">02/07/2020 11 AM to 15 Am</p>
                            <h5 class="card-title mt-2 fw">Fermentum vulputate </h5>
                            <p class="card-text text-justify fw">With supporting text below as a natural lead-in to
                                additional
                                content.
                            </p>
                            <div class="row">
                                <div class="col-1">
                                    <img src="../../assets/logo/pretty-woman-is-sitting-in-the-office-4SBDLLR.png">
                                </div>
                                <div class="col-6">
                                    <p class="fw">Bianca Holmes</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="crad-horizontal">
                        <div class="card card-group1 m-5">
                            <div class="card-body">
                                <p class="fw">02/07/2020 11 AM to 15 Am</p>
                                <h5 class="card-title mt-2 fw">Suscipit mauris maximus </h5>
                                <p class="card-text text-justify fw">With supporting text below as a natural
                                    lead-in to
                                    additional
                                    content.
                                </p>
                                <div class="row">
                                    <div class="col-1">
                                        <img src="../../assets/logo/pretty-woman-is-sitting-in-the-office-4SBDLLR.png">
                                    </div>
                                    <div class="col-6">
                                        <p class="fw">Bianca Holmes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card card-group">
                        <div class="card-body">
                            <p class="fw">02/07/2020 11 AM to 15 Am</p>
                            <h5 class="card-title mt-2 fw">Dapibus rhoncus lorem </h5>
                            <p class="card-text text-justify fw">With supporting text below as a natural lead-in to
                                additional
                                content.
                            </p>
                            <div class="row">
                                <div class="col-1">
                                    <img src="../../assets/logo/pretty-woman-is-sitting-in-the-office-4SBDLLR.png">
                                </div>
                                <div class="col-6">
                                    <p class="fw">Bianca Holmes</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="col-md-6 playstore">
                            <button type="button" class="service-btn mt-5 f-18 fw">All Courses</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div>
    <app-form></app-form>
</div>

<div>
    <app-daxtatab></app-daxtatab>
</div>
  
</div>