<div class="content">
    <div class="container">
        <div class="row text-center section1-header">
            <h1>{{'CONTACTUSPAGE.GETINTOUCH' | translate}}</h1>
            <p class="pt-3">Want to chat with our team? Call us, email us, or fill out the contact form below. We are looking forward to chatting with you!</p>
        </div>
        <div class="row">
            <!-- <div class="col-md-7">
                <img class="map-img" src="../../../assets/images/Map.png" />
            </div> -->
            <div class="col-md-12 d-flex align-items-center justify-content-center">
                <div  class="row">
                    <div class="col-md-6">
                        <div class="d-flex flex-row">
                            <div class="get-in-touch-shadow">
                                <img class="contact-icon" src="../../../assets/images/phone.png" />
                            </div>
                            <div class="contact-info">
                                <h5>Phone</h5>
                                <p>+1 (240) 765-9652</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="d-flex flex-row">
                            <div class="get-in-touch-shadow">
                                <img class="contact-icon" src="../../../assets/images/mail_.png" />
                            </div>
                            <div class="contact-info">
                                <h5>Email</h5>
                                <p>contact@daxta.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-options">
                    <!-- <div class="d-flex flex-row">
                        <div class="get-in-touch-shadow">
                            <img class="contact-icon" src="../../../assets/images/phone.png" />
                        </div>
                        <div class="contact-info">
                            <h5>Phone</h5>
                            <p>+1 (240) 765-9652</p>
                        </div>
                    </div> -->
                    <!-- <div class="d-flex flex-row pt-4 pb-4">
                        <div class="get-in-touch-shadow">
                            <img class="contact-icon" src="../../../assets/images/pin.png" />
                        </div>
                        <div class="contact-info">
                            <h5>Address</h5>
                            <p>lorem ipsome</p>
                        </div>
                    </div> -->
                 
                </div>
            </div>
        </div>
        <app-form></app-form>
    </div>
    <app-clinical-software></app-clinical-software>
</div>