.map-img{
    width: 100%;
    height: auto;
}

.get-in-touch-shadow{
    .contact-icon{
        width: 25px;
        height: 25px;
        object-fit: scale-down;
    }
}

.contact-info{
    h5{
        font-family: "Quicksand-Bold" !important;
    }
    padding-left: 15px;
}

.contact-options{
    margin-left: 50px;
}

//<--------------//MEDIA_QUERIES----------------------------------------------->>

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 575px) {
    .map-img{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .contact-options{
        margin: 0px !important;
    }

}

