<div class="form-component">
    <div class="row">
        <div class="col-md-5">
            <h2>Talk to us :</h2>
        </div>
        <div class="col-md-7">
            <h4>Do you have any questions or want to learn more about our services?</h4>
            <form>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control form-input-class" id="name" placeholder="Your name">
                        </div>
                    </div>
                    <div class="col-md-6 mt-5">
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control form-input-class" id="lastname" placeholder="Last">
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label for="jobtitle">Job Title</label>
                            <input type="text" class="form-control form-input-class" id="jobtitle"
                                placeholder="Your Job Title">
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control form-input-class" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label for="company">Company Name</label>
                            <input type="text" class="form-control form-input-class" id="company"
                                placeholder="Your Company Name">
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label for="city">City</label>
                            <div>
                                <select>
                                    <option value="Select Your City">Select Your City</option>
                                    <option>Mumbai</option>
                                </select>
                                <!-- <img src="../../../../assets/images/down-dropdown.png"/> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label for="state">State</label>
                            <div>
                                <select>
                                    <option value="Select Your State">Select Your State</option>
                                    <option>Maharashtra</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label for="country">Country</label>
                            <div>
                                <select>
                                    <option value="Select Your Country">Select Your Country</option>
                                    <option>India</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control form-input-class" id="exampleFormControlTextarea1" rows="5"
                                placeholder="Tell Us More About What You Are Looking For"></textarea>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <button type="submit" class="btn primary-button">Get a consultation</button>
                </div>
            </form>
        </div>
    </div>
</div>