<div class="form-component">
    <div class="row">
        <div class="col-md-5">
            <h2>{{'FORM.TALK' | translate}}</h2>
        </div>
        <div class="col-md-7">
            <h4 class="light-gray-color">{{'FORM.TALKCONTENT' | translate}}</h4>
            <form class="input-group" [formGroup]="reactiveForm" (ngSubmit)="onsubmit()">
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <div class="form-group">
                            <label>{{'FORM.FIRSTNAME' | translate}}</label>
                            <input formControlName="firstname" pattern="[a-zA-Z]+(\s+[a-zA-Z]+)*" id="name" type="text"
                                class="form-control form-input-class" placeholder="{{'FORM.FIRSTNAME' | translate}}">
                            <div *ngIf="submitted && f.firstname.errors">
                                <div *ngIf="f.firstname.errors.required" class="error">{{'FORM.FIRSTERROR' | translate}}</div>
                                <div *ngIf="f.firstname.errors.pattern" class="error">{{'FORM.WHITESPACE' | translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-5">
                        <div class="form-group">
                            <label>{{'FORM.LASTNAME' | translate}}</label>
                            <input formControlName="lastName" pattern="[a-zA-Z]+(\s+[a-zA-Z]+)*" id="name" type="text"
                                class="form-control form-input-class" placeholder="{{'FORM.LASTNAME' | translate}}">
                            <div *ngIf="submitted && f.lastName.errors">
                                <div *ngIf="f.lastName.errors.required" class="error">{{'FORM.LASTERROR' | translate}}</div>
                                <div *ngIf="f.lastName.errors.pattern" class="error">{{'FORM.WHITESPACE' | translate}}</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label for="jobtitle">Job Title</label>
                            <input type="text" class="form-control form-input-class" id="jobtitle"
                                placeholder="Your Job Title">
                        </div>
                    </div> -->
                    <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label>{{'FORM.EMAIL' | translate}}</label>
                            <input formControlName="email" id="name" type="email"
                                class="form-control form-input-class" placeholder="{{'FORM.EMAILADD' | translate}}">
                            <div *ngIf="submitted && f.email.errors">
                                <div *ngIf="f.email.errors.required" class="error">{{'FORM.EMAILERROR' | translate}}</div>
                                <div *ngIf="f.email.errors.email" class="error">{{'FORM.EMAILERROR2' | translate}}</div>
                                <!-- <div *ngIf="f.Email.errors.pattern" class="error">Do not enter Whitespace</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label for="country">{{'FORM.COUNTRY' | translate}}</label>
                            <div>
                                <select #myContry (change)='onContrySelected(myContry.value)'
                                    formControlName="countryName" required>
                                    <option value="">{{'FORM.SELECT' | translate}}</option>
                                    <option *ngFor="let s of Country" [value]="s.isoCode">{{s.name}}</option>
                                </select>
                               
                                <div *ngIf="submitted && f.countryName.errors">
                                    <div *ngIf="f.countryName.errors.required" class="error">{{'FORM.COUNTRYERROR' | translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label>{{'FORM.COMPANYNAME' | translate}}</label>
                            <input id="name" type="text"
                                class="form-control form-input-class" placeholder="{{'FORM.NUMBER' | translate}}">
                            <!-- <div *ngIf="submitted && f.Companyname.errors">
                                <div *ngIf="f.Companyname.errors.required" class="error">Number of client is required.</div>
                              
                            </div> -->
                        </div>
                    </div>

                    
                    <!-- <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label for="state">State</label>
                            <div>
                                <select #myState (change)='onStateSelected(myContry.value, myState.value)'
                                formControlName="stateName" required>
                                    <option value="">Select State</option>
                                    <option *ngFor="let s of dropdownState" [value]="s.isoCode">{{s.name}}</option>
                                </select>
                                <div *ngIf="submitted && f.stateName.errors">
                                    <div *ngIf="f.stateName.errors.required" class="error">State is required.</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6 mt-4">
                        <div class="form-group">
                            <label for="city">City</label>
                            <div>
                                <select [(ngModel)]="selectedCity"  formControlName="cityName" >
                                    <option value="">Select City</option>
                                    <option *ngFor="let s of dropdownCity" [value]="s.isoCode">{{s.name}}</option>
                                </select>
                                <div *ngIf="submitted && f.cityName.errors">
                                    <div *ngIf="f.cityName.errors.required" class="error">city is required.</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-12 mt-4">
                        <div class="form-group">
                            <label>{{'FORM.HELP' | translate}}</label>
                            <textarea formControlName="Description" class="form-control form-input-class" id="exampleFormControlTextarea1"  rows="5"
                                placeholder="{{'FORM.DESCRIPTION' | translate}}"></textarea>
                            <div *ngIf="submitted && f.Description.errors">
                                <div *ngIf="f.Description.errors.required" class="error">{{'FORM.DESCRIPTIONERROR' | translate}}</div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="mt-5">
                    <button class="btn primary-button">{{'BUTTONS.SUBMIT' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>