<div class="row mt-5">
    <h1>{{'ABOUTUSPAGE.LATESTJOB' | translate}}</h1>
    <p class="mt-3">{{'ABOUTUSPAGE.LATESTJOBCONTENT' | translate}}
    </p>
    <div class="job-lists">
        <div class="col-md-12 mt-3">
            <div class="card latest-jobs shadowElement">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="joblist-left-content">
                        <h5 class="card-title">Executive Organizational Consultation</h5>
                        <div class="f-18 mt-2">
                            <img src="../../../../assets/images/Location.png" /><span>Moscow, Russia</span>
                        </div>
                        <p class="mt-4" [ngClass]="{'limitTextHeight': isReadMore}">Some quick example text to
                            build on the card title and make up the bulk of Some quick example text to build on
                            the card title and make up the bulk ofSome quick example text to build on the card
                            title and make up the bulk ofSome quick example text to build on the card title and
                            make up the bulk ofSome quick example text to build on the card title and make up
                            the bulk ofSome quick example text to build on the card title and make up the bulk
                            ofSome quick example text to build on the card title and make up the bulk ofSome
                            quick example text to build on the card title and make up the bulk ofSome quick</p>
                        <p class="read-more" (click)="showText()">
                            {{ isReadMore ? 'Read More': 'Read Less' }}
                        </p>
                    </div>
                    <div class="joblist-right-content">
                        <button type="button" class="btn secondary-button">Apply Now</button>
                        <p class="pt-1">1 to 4 Yrs Expr.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="card latest-jobs shadowElement">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="joblist-left-content">
                        <h5 class="card-title">Executive Organizational Consultation</h5>
                        <div class="f-18 mt-2">
                            <img src="../../../../assets/images/Location.png" /><span>Moscow, Russia</span>
                        </div>
                        <p class="mt-4" [ngClass]="{'limitTextHeight': isReadMore}">Some quick example text to
                            build on the card title and make up the bulk of Some quick example text to build on
                            the card title and make up the bulk ofSome quick example text to build on the card
                            title and make up the bulk ofSome quick example text to build on the card title and
                            make up the bulk ofSome quick example text to build on the card title and make up
                            the bulk ofSome quick example text to build on the card title and make up the bulk
                            ofSome quick example text to build on the card title and make up the bulk ofSome
                            quick example text to build on the card title and make up the bulk ofSome quick</p>
                        <p class="read-more" (click)="showText()">
                            {{ isReadMore ? 'Read More': 'Read Less' }}
                        </p>
                    </div>
                    <div class="joblist-right-content">
                        <button type="button" class="btn secondary-button">Apply Now</button>
                        <p class="pt-1">1 to 4 Yrs Expr.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="card latest-jobs shadowElement">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="joblist-left-content">
                        <h5 class="card-title">Executive Organizational Consultation</h5>
                        <div class="f-18 mt-2">
                            <img src="../../../../assets/images/Location.png" /><span>Moscow, Russia</span>
                        </div>
                        <p class="mt-4" [ngClass]="{'limitTextHeight': isReadMore}">Some quick example text to
                            build on the card title and make up the bulk of Some quick example text to build on
                            the card title and make up the bulk ofSome quick example text to build on the card
                            title and make up the bulk ofSome quick example text to build on the card title and
                            make up the bulk ofSome quick example text to build on the card title and make up
                            the bulk ofSome quick example text to build on the card title and make up the bulk
                            ofSome quick example text to build on the card title and make up the bulk ofSome
                            quick example text to build on the card title and make up the bulk ofSome quick</p>
                        <p class="read-more" (click)="showText()">
                            {{ isReadMore ? 'Read More': 'Read Less' }}
                        </p>
                    </div>
                    <div class="joblist-right-content">
                        <button type="button" class="btn secondary-button">Apply Now</button>
                        <p class="pt-1">1 to 4 Yrs Expr.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="card latest-jobs shadowElement">
                <div class="card-body job-description text-center">
                    <h1>Want to join our team?</h1>
                    <p class="pt-3 pb-3">Can’t find a suitable position that matches your skill set, but are still interested? Get in touch with us!</p>
                    <button type="button" class="btn primary-button inquiry-now">Inquiry Now</button>
                </div>
            </div>
        </div>
    </div>
</div>