.mainclass{
    min-height: 100vh;
}
.text{
    font-size: 40px;
    text-align: center;
    color: var(--primary-color);
    font-family: 'Quicksand-Bold';
}
.image{
    width: 100%;
}
.text1{
    padding: 0px 100px 0px 100px;
    text-align: center;
}