<div class="mainclass">
    <div class="image">
        <img src="../../../assets/images/blog-details.png" class="image-blog">
    </div>
    <div class="container">
        <h2 class="text mt-5 fw text-center">Remote Work is the Future, but Should You Go Remote?</h2>
        <div class="row justify-content-center">
            <div class="col-md-12 col-12 col-lg-8 text-center">
                <p class="text1">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Etiam
                    placerat tortor
                    commodo lectus laoreet venenatis. Donec ultricies, metus vitae bibendum consequat, tortor neque
                    euismod
                    lectus</p>
            </div>

        </div>


        <div class="flex-row d-flex justify-content-center mt-5 mb-5">
            <img src="../../../assets/images/Photo.png" width="6%">
            <div class="m-3">
                <p class="p-0 m-0">Lance Bogrol </p>
                <p class="p-0 m-0">Published on Jan 01, 2020</p>
            </div>
        </div>

        <div class="row mt-5 justify-content-center">
            <div class="col-md-8">
                <p>Quisque at odio semper, elementum leo sed, congue tellus. Proin nunc mauris, porttitor
                    ut
                    eleifend ut,
                    consectetur ut dolor. In hac habitasse platea dictumst. Pellentesque ornare nulla ut quam blandit
                    scelerisque. Suspendisse non orci id elit tempor rhoncus ac id nunc. Integer scelerisque at turpis
                    sit
                    amet faucibus. Etiam non euismod urna. Suspendisse vel ex justo. Vivamus posuere porttitor ante eu
                    hendrerit.</p>
            </div>
        </div>
        <div class="justify-content-center d-flex m-5">
            <img src="../../../assets/images/save.png" style=" width: 100%;">
        </div>
        <div class="row justify-content-center Align-text-left">
            <div class="col-md-8">
                <p>In lacinia sapien a libero accumsan facilisis. Donec vitae lorem massa. Aliquam
                    tristique
                    vehicula enim
                    ut luctus. Vivamus gravida dignissim ligula, dictum laoreet elit malesuada ac. Praesent est justo,
                    posuere a nisl porta, pharetra posuere lectus. Nulla velit odio, tincidunt vel metus a, viverra
                    placerat
                    ligula.
                </p>
                <p>Donec id nisl et risus volutpat tempor a eget mauris. Nullam velit eros, porttitor et
                    urna
                    sit amet,
                    ullamcorper vestibulum magna. Quisque consequat arcu eros, lobortis faucibus purus facilisis vitae.
                    Nulla at nunc non purus vehicula elementum.</p>
            </div>
        </div>
        <div class="justify-content-center d-flex">
            <img src="../../../assets/images/Blockquote.png" style="width: 100%;">
        </div>
        <div class="row justify-content-center Align-text-left">
            <div class="col-md-8">
                <p class="fw" style="font-family:'Quicksand-Bold'; font-size: 32px;">Big heading for a new topic</p>
                <p>Morbi pellentesque finibus libero, in blandit lorem eleifend eget. Praesent egestas hendrerit augue a
                    vestibulum. Nullam fringilla, eros malesuada eleifend placerat, lacus tellus egestas erat, nec
                    varius
                    sem lorem ut mauris. Morbi libero felis.</p>
                <ul>
                    <li>Morbi pellentesque finibus libero, in blandit lorem eleifend eget. Praesent egestas hendrerit augue a
                        vestibulum. Nullam fringilla, eros malesuada eleifend placerat, lacus tellus egestas erat, nec
                        varius
                        sem lorem ut mauris. Morbi libero felis.</li>
                    <li>Morbi pellentesque finibus libero, in blandit lorem eleifend eget. Praesent egestas hendrerit augue a
                        vestibulum. Nullam fringilla, eros malesuada eleifend placerat, lacus tellus egestas erat, nec
                        varius
                        sem lorem ut mauris. Morbi libero felis.</li>
                </ul>
            </div>
        </div>
        <div class="justify-content-center d-flex m-4">
            <img src="../../../assets/images/Training-team.png" style="width: 100%;">
        </div>
        <div class="row justify-content-center Align-text-left">
            <div class="col-md-8">
                <p>Quisque at odio semper, elementum leo sed, congue tellus. Proin nunc mauris, porttitor ut eleifend
                    ut,
                    consectetur ut dolor. In hac habitasse platea dictumst. Pellentesque ornare nulla ut quam blandit
                    scelerisque. Suspendisse non orci id elit tempor rhoncus ac id nunc. Integer scelerisque at turpis
                    sit
                    amet faucibus. Etiam non euismod urna.</p>
            </div>
        </div>
    </div>
    <div>
        <app-daxtatab></app-daxtatab>
    </div>
</div>