<div class="mainclass">
    <div class="section1">
        <div class="maindiv">
            <div class="container">
                <div>
                    <div class="text-center header mt-5">
                        <h1 class="fw">Our
                            <span class=" header-contant">Courses</span>
                        </h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <p class="text-center">DAXTA can help your company increase quality and efficiency in the
                                treatment of autism and other developmental
                                disabilities. At DAXTA, we provide support and guidance to service providers in areas
                                related to system development and
                                implementation to evaluate and increase quality of services, as well as build capacity
                                for their staff. Our services include:</p>
                        </div>
                    </div>
                    <div class="backimg">
                        <div class="container">
                            <div class="row" style="margin-top: 100px;">
                                <div class="col-12 col-md-12 col-lg-5 card-horizontal">
                                    <div class="card card-group m-3">
                                        <div class="card-body">
                                            <div class="card-class d-flex justify-content-between">
                                                <p class="fw">02/07/2020 11 AM to 15 Am</p>
                                                <h5>FREE</h5>
                                            </div>
                                            <h5 class="card-title mt-2 fw">Fermentum vulputate </h5>
                                            <div class="row">
                                                <div class="col-2 col-md-3 col-lg-1">
                                                    <img src="../../../assets/images/card-img.png">
                                                </div>
                                                <div class="col-10 col-md-6 col-lg-6">
                                                    <p class="fw">Bianca Holmes</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="crad-horizontal">
                                        <div class="card card-group1 m-3">
                                            <div class="card-body">
                                                <div class="card-class d-flex justify-content-between">
                                                    <p class="fw">02/07/2020 11 AM to 15 Am</p>
                                                    <h5>$10</h5>
                                                </div>
                                                <h5 class="card-title mt-2 fw">Suscipit mauris maximus </h5>
                                                <div class="row">
                                                    <div class="col-2 col-md-3 col-lg-1">
                                                        <img src="../../../assets/images/card-img.png">
                                                    </div>
                                                    <div class="col-10 col-md-6 col-lg-6">
                                                        <p class="fw">Bianca Holmes</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="crad-horizontal">
                                        <div class="card card-group m-3">
                                            <div class="card-body">
                                                <div class="card-class d-flex justify-content-between">
                                                    <p class="fw">02/07/2020 11 AM to 15 Am</p>
                                                    <h5>FREE</h5>
                                                </div>
                                                <h5 class="card-title mt-2 fw">Suscipit mauris maximus </h5>
                                                <div class="row">
                                                    <div class="col-2 col-md-3 col-lg-1">
                                                        <img src="../../../assets/images/card-img.png">
                                                    </div>
                                                    <div class="col-10 col-md-6 col-lg-6">
                                                        <p class="fw">Bianca Holmes</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-7 justify-content-center d-flex">
                                    <img src="../../../assets/images/Image Place Holder.png" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contianer">
                    <div class="mt-5">
                        <h1 class="fw" style="color: var(--primary-color);">Upcoming Courses</h1>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 col-lg-5 col-12">
                            <div class="crad-horizontal">
                                <div class="card card-group m-3">
                                    <div class="card-body">
                                        <div class="card-class d-flex justify-content-between">
                                            <p class="fw">02/07/2020 11 AM to 15 Am</p>
                                            <h5>FREE</h5>
                                        </div>
                                        <h5 class="card-title mt-2 fw">Suscipit mauris maximus </h5>
                                        <div class="d-flex flex-row">
                                            <img src="../../../assets/images/card-img.png">
                                            <p class="fw m-2">Bianca Holmes</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 col-lg-5 col-12">
                            <div class="crad-horizontal">
                                <div class="card card-group m-3">
                                    <div class="card-body">
                                        <div class="card-class d-flex justify-content-between">
                                            <p class="fw">02/07/2020 11 AM to 15 Am</p>
                                            <h5>$15</h5>
                                        </div>
                                        <h5 class="card-title mt-2 fw">Suscipit mauris maximus </h5>
                                        <div class="d-flex flex-row">
                                            <img src="../../../assets/images/card-img.png">
                                            <p class="fw m-2">Bianca Holmes</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <app-form></app-form>
            </div>
            <div>
                <app-daxtatab></app-daxtatab>
            </div>
        </div>
    </div>
</div>