.daxta-video {
  height: 100%;
  width: 100%;
}

.upcoming-courses {
  padding-left: 100px;
  padding-right: 100px;
  h6{
    font-family: "Quicksand-Bold" !important;
  }
}

.courses-left-content {
  padding-left: 100px;
  h6{
    font-family: "Quicksand-Bold" !important;
  }
}

//<--------------//MEDIA_QUERIES----------------------------------------------->>

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
  .courses-left-content {
    padding: 0px !important;
  }

  .upcoming-courses {
    padding: 0px !important;
  }
}
@media only screen and (max-width: 991px) {
  .courses-left-content{
    padding: 0px !important;
  }

  .upcoming-courses{
    padding: 0px !important;
  }
}
@media only screen and (max-width: 768px) {
  .courses-left-content {
    padding: 0px !important;
  }

  .upcoming-courses {
    padding: 0px !important;
  }
}
@media only screen and (max-width: 575px) {
  .daxta-video{
    margin-top: 30px;
  }
}
