<div>
    <div>
        <app-header></app-header>
    </div>
    
    <div class="section1">
        <div class="maindiv">
            <div class="container">
                    <div>
                        <h3 class="text-center">Our Courses</h3>
                        <p class="text-center">DAXTA can help your company increase quality and efficiency in the treatment of autism and other developmental 
                            disabilities. At DAXTA, we provide support and guidance to service providers in areas related to system development and 
                            implementation to evaluate and increase quality of services, as well as build capacity for their staff. Our services include:</p>
                    </div>
            </div>
        </div>
    </div>
</div>