<div class="content">
    <div class="container">
        <div class="row text-center section1-header">
            <h1>{{'COURSESPAGE.OUR' | translate}} <span class="section1-header-content">{{'COURSESPAGE.COURSES' | translate}}</span></h1>
            <p class="pt-3">Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text
                Lorem ipsome is a simple text Lorem ipsome is a simple text Lorem ipsome is a simple text</p>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="courses-left-content">
                    <div class="card-even">
                        <div class="daxta-card card mt-4">
                            <div class="daxta-card-body card-body">
                                <div>
                                    <div class="card-first-row">
                                        <img src="../../../assets/images/calendar-alt.png" />
                                        <p class="appo-time">29/07/2020 11AM to 15PM</p>
                                    </div>
                                    <h6 class="daxta-card-text card-text">Fermentum Vulputate</h6>
                                    <div class="card-third-row">
                                        <img src="../../../assets/images/Mask_Little.png" />
                                        <p class="appo-time">Biance Holmes</p>
                                    </div>
                                </div>
                                <h5>FREE</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-odd">
                        <div class="daxta-card card mt-4">
                            <div class="daxta-card-body card-body">
                                <div>
                                    <div class="card-first-row">
                                        <img src="../../../assets/images/calendar-alt.png" />
                                        <p class="appo-time">29/07/2020 11AM to 15PM</p>
                                    </div>
                                    <h6 class="daxta-card-text card-text">Fermentum Vulputate</h6>
                                    <div class="card-third-row">
                                        <img src="../../../assets/images/Mask_Little.png" />
                                        <p class="appo-time">Biance Holmes</p>
                                    </div>
                                </div>
                                <h5>FREE</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-even">
                        <div class="daxta-card card mt-4">
                            <div class="daxta-card-body card-body">
                                <div>
                                    <div class="card-first-row">
                                        <img src="../../../assets/images/calendar-alt.png" />
                                        <p class="appo-time">29/07/2020 11AM to 15PM</p>
                                    </div>
                                    <h6 class="daxta-card-text card-text">Fermentum Vulputate</h6>
                                    <div class="card-third-row">
                                        <img src="../../../assets/images/Mask_Little.png" />
                                        <p class="appo-time">Biance Holmes</p>
                                    </div>
                                </div>
                                <h5>FREE</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <video class="daxta-video" controls>
                    <source src="../../../assets/video/file_example_MP4_480_1_5MG.mp4" type="video/mp4">
                    <source src="../../../assets/video/file_example_MP4_480_1_5MG.mp4" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="row mt-5">
            <h2>Upcoming Courses</h2>
        </div>
        <div class="row upcoming-courses">
            <div class="col-md-6 mt-5">
                <div class="card-even">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div>
                                <div class="card-first-row">
                                    <img src="../../../assets/images/calendar-alt.png" />
                                    <p class="appo-time">29/07/2020 11AM to 15PM</p>
                                </div>
                                <h6 class="daxta-card-text card-text">Fermentum Vulputate</h6>
                                <div class="card-third-row">
                                    <img src="../../../assets/images/Mask_Little.png" />
                                    <p class="appo-time">Biance Holmes</p>
                                </div>
                            </div>
                            <h5>FREE</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <div class="card-odd">
                    <div class="daxta-card card">
                        <div class="daxta-card-body card-body">
                            <div>
                                <div class="card-first-row">
                                    <img src="../../../assets/images/calendar-alt.png" />
                                    <p class="appo-time">29/07/2020 11AM to 15PM</p>
                                </div>
                                <h6 class="daxta-card-text card-text">Fermentum Vulputate</h6>
                                <div class="card-third-row">
                                    <img src="../../../assets/images/Mask_Little.png" />
                                    <p class="appo-time">Biance Holmes</p>
                                </div>
                            </div>
                            <h5>FREE</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-form></app-form>
    </div>
    <app-clinical-software></app-clinical-software>
</div>