<div class="background">
    <div class="container pt-3">
        <footer class="text-center text-lg-start text-muted">

            <div class="container text-center text-md-start mt-5">

                <div class="row mt-3">

                    <div class="col-12 col-md-6 col-lg-4 mx-auto mb-4">
                        <img class="image" src="../../../assets/logo/avatar-azul.png">
                        <p>
                            Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit, sed do<br>
                            eiusmod tempor
                        </p>
                        <div class="row social-img mt-4">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                                <img src="../../../assets/footer/Facebook.svg">
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                                <img src="../../../assets/footer/instagram.svg">
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                                <img src="../../../assets/footer/_x31_0.Linkedin.svg">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-10 col-lg-2 p-0 m-0 about">
                        <h6 class="mb-4">About Us</h6>
                        <p>Our Services</p>
                        <p>Software</p>
                        <p>Courses</p>
                        <p>Blog</p>
                        <p>Contact Us</p>
                    </div>

                    <div class="col-12 col-md-10 col-lg-2 mx-auto text-center p-0 m-0 ">

                        <h6 class="fw-bold mb-4">Company</h6>
                        <p>Terms Of Use</p>
                        <p>Privacy Policy</p>

                    </div>

                    <div class="col-12 col-md-5 col-lg-3 col-xl-3 mx-auto p-0 m-0">
                        <h6 class="fw-bold mb-4"> Contact Us</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit, sed do
                            eiusmod tempor
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="inputWithIcon">
                                        <input type="text" placeholder="Email">
                                        <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <div>
                                    <button type="button" class="btn">subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>


            <div class="text-center p-5 Copyright">
                © 2021 Copyright |
                <a class="text-reset fw-bold" >DAXTA</a>
            </div>
        </footer>
    </div>
</div>