<div class="row textarea1 mt-5">
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 p-0 back">
        <div class="app1">
            <p class="demo mt-5 f-55 fw">DAXTA Clinical Software </p>
            <p class="text f-16 fw"> Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do
                eiusmod tempor</p>
        </div>

        <div class=" play-img1 mt-5">
            <div class=" playstore">
                <button type="button" class="schedule-btn f-18 fw">Schedule Demo</button>
                <button type="button" class="more-btn f-18 fw">More Information</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 p-0">
        <img src="../../../assets/images/Ipad.png" class="tab mt-2">
    </div>
</div>
<!-- 
<div class="back">
    <p>dnsfjkhsdjk</p>
</div> -->