<div class=" main-div">
    <div class="row textarea1 m-0 p-0">
        <div class="col-12 col-md-12 col-lg-7 p-0 back">
            <div class="align-item-center">
                <h1 class="demo mt-5 text-center fw">DAXTA Clinical Software </h1>
                <p class="text f-16 fw text-center"> Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor</p>
           
                <div class=" playstore text-center mt-5">
                    <button type="button" class="schedule-btn f-18 fw m-2">Schedule Demo</button>
                    <button type="button" class="more-btn f-18 fw m-2">More Information</button>
                </div>
            </div>   
        </div>

        <div class="col-12 col-md-10 col-lg-4 p-0 justify-content-md-center tab-img ">
            <img src="../../../assets/images/Ipad.png" class="mx-auto tab">
        </div>
    </div>
</div> 